[2015-11-16 11:16] leo-yuriev opened #1 "Currently version of MDBX is slower than original LMDB."
This is rather a warning than an error.

Currently MDBX is under develpoment and don't have any releases, but include a few additional checks, TODOs and bottlenecks.
**Please wait for the release to compare performance and set of features.**

[2016-04-27 22:35] leo-yuriev commented on #1
Seems almost done at https://github.com/ReOpen/libmdbx/commit/78e6bf5e3635d4ddac44a37f0cd01b5fd8aadfa5 and later

[2016-04-28 00:21] leo-yuriev commented on #1
**LMDB, CRUD** = ioarena -D lmdb -B crud -m nosync -n 25000000
[code]

**LMDB, iterate** = ioarena -D lmdb -B iterate -m sync -r 4 -n 25000000
[code]

**LMDB, get** = ioarena -D lmdb -B get -m sync -r 4 -n 25000000
[code]

===========================================

**MDBX, CRUD** = ioarena -D mdbx -B crud -m nosync -n 25000000
[code]

**MDBX, iterate** = ioarena -D mdbx -B iterate -m sync -r 4 -

[2016-05-26 07:53] arthurprs opened #2 "Document the differences/goals of this fork"
Or maybe they're somewhere and I didn't find it.

Anyway, it'd be better to have a README file with this and other info as well.

[2016-07-26 15:59] #1 closed

[2016-08-22 09:41] leo-yuriev opened #3 "CRITICAL: license & copyright issues must be resolved ASAP"
1. Some changes from @hyc and from other contributors must be re-copyrighted at 2016.
2. Possibility of the dual licensing (AGPL + OpenLDAP Foundation) should be verified.

[2016-11-21 15:37] #3 closed

[2016-11-21 15:40] leo-yuriev opened #4 "mdbx_chk and mdbx_env_pgwalk() report MDB_CORRUPTED for empty sub-db"
For instance:
[code]

[2016-11-21 15:53] #4 closed

[2017-01-16 11:30] leo-yuriev opened #5 "Асинхронная фиксация"
Асинхронная фиксация, очередь чекпоинтов, триггеры и пороги,  автоматическая конвертация weak в steady.

[2017-02-17 20:11] leo-yuriev opened #6 "Reimplement MDBX on the 1Hppeus basis"
1Hippeus project provide a outstanding management of shared memory, in-memory message queues and zero-overhead IPC with zero-copy infrastructure.

Engaging the modified ART-trees (http://www3.informatik.tu-muenchen.de/~leis/papers/ART.pdf) may also be a very good idea, but needs more study.

[2017-04-10 10:59] leo-yuriev opened #7 "Windows support for `libfpta`"
Most done in the `devel` branch, but more testing is needed.

[2017-04-10 11:10] leo-yuriev opened #8 "Fully-fledged and impeccable testset"
- support both Linux and Windows environments;
- support all libmdbx's bits/modes and features;
- at least the same set of testing features as [ioarena](https://github.com/pmwkaa/ioarena);
- superseded [ioarena](https://github.com/pmwkaa/ioarena) in the concurrency testing;

[2017-07-04 07:52] #7 closed

[2017-07-24 18:40] erthink opened #9 "Provide driver for fastonosql"
Related to https://github.com/fastogt/fastonosql/issues/36

[2017-07-29 13:57] leo-yuriev commented on #2
Done, but translation to english still needed.

[2017-07-29 13:57] #2 closed

[2017-07-29 13:58] leo-yuriev commented on #6
Obsolete (

[2017-07-29 13:58] #6 closed

[2017-07-29 13:59] leo-yuriev opened #10 "Translate README ot english"

[2017-08-16 00:53] dreamsxin opened #11 "An error occurred during the second run (sample-mdb) mdbx_env_open: (22) Invalid argument"
[code]

[2017-08-16 04:38] leo-yuriev opened #12 "Sharing DB over Xen (support for XEN::Grant_Table)"
https://wiki.xen.org/wiki/Grant_Table

[2017-08-16 04:43] leo-yuriev opened #13 "Allow placing large/overflow pages in the dedicated separate file."

[2017-08-16 04:48] leo-yuriev opened #14 "Allow using a raw block devices (e.g. /dev/block)."

[2017-08-16 05:03] leo-yuriev commented on #11
No purpose to engage `ccache`, since _Travis_ does not preserve  the cache between builds. More over, most of the time is spent for tests, not for compilation, and this difference will be exacerbated.

Also, please add yourself to the `./AUTHORS` file.

[2017-08-16 06:05] #11 closed

[2017-08-16 06:20] leo-yuriev commented on #11
Fix = https://github.com/leo-yuriev/libmdbx/commit/9b5e28e8e69b835f8ba37c0c67c56b99d2a24a01
Testcase = https://github.com/leo-yuriev/libmdbx/commit/b0dc98bec0281cc0987253d9e498cdb117a80100 + https://github.com/leo-yuriev/libmdbx/commit/b5b8ec440e0215b2ef3675597e6fd2265a5a25db

[2017-08-16 07:51] zingchen opened #15 "mdbx.h: conflicting declaration of mode_t"
In "mdbx.h", the declaration

`typedef unsigned mode_t; `

conflicts with the declaration of the same type in <sys/types.h>

`typedef _mode_t mode_t;`

The error was detected by GCC 7.1 (Mingw-w64) on Windows 7 - x64.

Changing the conflicting declaration to

`typedef unsigned short mode_t; `

seems to compile.

[2017-08-16 08:11] leo-yuriev commented on #15
@zingchen , thanks for reporting.
I will fix this.
But I don't recommend use GCC/MinGW under Windows, since just not tested.

[2017-08-16 08:24] zingchen commented on #15
MinGW is fine, at least for (tiny) programs I've done. I use it as it integrates well with Code::Blocks, a mature IDE and lighter, faster than MSVC.

[2017-08-16 09:01] leo-yuriev commented on #15
@zingchen, no problem. Just report a bugs, if ones.

[2017-08-16 09:01] #15 closed

[2017-08-16 09:29] leo-yuriev commented on #11
@dreamsxin, it was a notable bug )
As it turned out in our tests was not checked the one trivial case.
Thanks for reporting.

[2017-08-16 10:03] dreamsxin commented on #11
My pleasure.

[2017-08-17 03:44] zingchen opened #16 "osal.c mdbx_panic error: #error FIXME"
A compilation error `#error FIXME` was detected in "osal.c" function `__cold void mdbx_panic(...)` by MinGW GCC 7.1 on Windows 7 - x64.

I think it's because the relevant code fragment
[code]

is defined only under `#ifdef _MSC_VER`, which is not true in this environment. But I'm not sure.

[2017-08-17 06:55] leo-yuriev commented on #16
@zingchen , today I am on the road, so the problem will fix later.

[2017-08-17 19:16] leo-yuriev commented on #16
@zingchen, I got home and assessed the volume of work.
It's more than I expected. Think I can do this not earlier in the end of weekend.

[2017-08-19 02:41] zingchen commented on #16
I see. There're several other FIXMEs that seem to be MinGW-relevant too.

[2017-08-20 17:13] leo-yuriev commented on #16
I am sorry.

[2017-08-20 17:30] erthink opened #17 "Support building for Windows by MinGW and (maybe) by other compilers."
Should be taken into account, that at least one additional set of tests **must be implemented and integrated** into `appveyor.yml`:
- validation of cleanup on thread termination (and so on), with respect to glibc bugs #21031 and #21032.
- validation of interoperability with libmdbx.dll and libmdbx.lib, which were built by MSVC 2013/2015/2017.

[2017-08-20 17:46] leo-yuriev commented on #16
@zingchen, on the other hand - you could make this work and submit a pull-request. In this case _please_ don't forget about testing (i.e. appveyor.yml). So, at least one more set of test cases must be implemented:
 - validation of cleanup on thread termination (and so on), with respect to glibc bugs #21031 and #21032.
 - validation of interoperability with libmdbx.dll and libmdbx.lib, which were b

[2017-08-20 17:46] #16 closed

[2017-09-01 11:08] 0x4E69676874466F78 opened #18 "Последние наработки по LSM"
Не знаю по адресу или нет.
Я тут наткнулся на такое обсуждение
https://forum.golangbridge.org/t/leveldb-written-in-go-build-from-scratch/4431
В итоге этот чел сделал своё хранилище: https://github.com/dgraph-io/badger
Основывается оно на последних наработках по LSM (как я понял из ридми у libmdbx LSM тоже используется):
https://www.usenix.org/system/files/conference/fast16/fast16-papers-lu.pdf
Суд

[2017-09-01 12:36] leo-yuriev commented on #18
@0x4E69676874466F78, пока есть время и желание отвечу подробнее:

1. В libmdbx нет следов LMS, также как в LMDB.
 libmdbx является развитием LMDB, отличия описаны в README.

2. Все быстрые key-value движки ориентированны на подмножество сценариев, в которых выигрывают, проигрывая в других (универсальные проигрывают везде). Поэтому к бенчмаркам key-value движков следует относиться очень осторожно.

[2017-09-01 13:59] leo-yuriev commented on #18
Если говорить о дизайне **badger** и пояснениях автора о причинах, то я много не понимаю:

1. Проблемы с high write load:
   - BoltDB сделан по мотивам LMDB, т. е. это LMDB реализованная на Go. В свою очередь в LMDB (и тем более в libmdbx) нет проблем с «high write load» (но будут проблемы с IOPS при полной фиксации каждой мелкой транзакции на HDD).
   - Однако, в MVCC+COW не все просто и много не

[2017-09-01 13:59] #18 closed

[2017-09-01 15:19] 0x4E69676874466F78 commented on #18
Меня просто сбило с толку это предложение

увидел упоминание и показалось что есть следы. Теперь понял что это касается только тех движков где такой механизм есть.
В базах на низком уровне пока плохо разбираюсь чтоб делать правильные выводы.

Спасибо за столь развёрнутое пояснение, это интересно и полезно.

А может знаете какие сейчас есть быстрые, сравнительно удобные и достаточно надёжные графов

[2017-09-01 16:10] leo-yuriev commented on #18
Это риторический вопрос и вы не правильно ищете.

Вам нужно хорошо знать какие задачи и как вы собираетесь решать посредством графовой БД.
Затем понять, точнее оттранслировать это на методы решения задач и соответствующие "графовые" алгоритмы.
А далее понять какие свойства (включая индексы и прочее) вам нужны от графовой БД.

-----

Что касается "тормознутости" решений на Java, то есть объективные

[2017-09-02 09:56] 0x4E69676874466F78 commented on #18
Затем понять, точнее оттранслировать это на методы решения задач и соответствующие "графовые" алгоритмы.
А далее понять, какие свойства (включая индексы и прочее) вам нужны от графовой БД.

В развивающемся проекте это невозможно, поэтому ищется самое лучше из представленного, где в среднем уже (потенциально за счёт хорошей архитектуры) покрыто много случаев использования — достаточно гибкое и разв

[2017-09-02 11:38] leo-yuriev commented on #18
Боюсь вы поняли что я хотел сказать и не приняли советы к использованию.

Графовая база - это buzzword. Вершины, дуги и их атрибуты можно хранить и обрабатывать сотней способов. В том числе в key-value, в колоночном виде или в традиционных реляционных таблицах и т.д.  и все это есть в СУБД, которые называют "графовыми".

Подобрать подходящую СУБД можно только исходя из достаточно детальных сценари

[2017-09-02 13:37] 0x4E69676874466F78 commented on #18
Это мне понятно, у самого же графы хранятся в postgres который из коробки можно сказать ничего для удобства работы с графами не имеет. Я исхожу из того что специализированное (в данном случае тематика графы) будет лучше (т. к. решение специально создавалось/заточено под работу с графами), хотя смотря на тот же Neo4J понимаю что это далеко не всегда так, потому что много зависит от движка-хранилища

[2017-09-03 23:31] leo-yuriev commented on #18
Конечно, есть шанс, что в какой-нибудь "графовой" БД найдется что-нибудь существенно облегчающее решение вашей задачи.

Но вполне вероятно, что решение следует искать в другом направлении. И чем больше масштаб (объем данных и требуемая скорость), тем выше эта вероятность.

По-сути, СУБД занимается тем, что позволяет вам организованно читать/писать элементы данных используя логические адреса (ключи

[2017-09-04 01:38] 0x4E69676874466F78 commented on #18
Я стараюсь сделать архитектуру insert-only, чтобы в дальнейшем можно было без труда перейти на колоночный движок (по факту это просто совпадение-бонус версионирования, но я решил придерживаться этой концепции и в остальном).

Я могу это истолковать двумя направлениями:
1. что-то в сторону OLAP (или подобного)
2. что-то самописное аля специализированные хранилища как том же вконтакте где простое-ту

[2017-09-04 08:54] leo-yuriev commented on #18
OLAP вам никак не поможет, совсем.

[2017-09-04 09:40] 0x4E69676874466F78 commented on #18
А о чём тогда речь говоря о "некоторыми специализированными представлениями (срезами, проекциями)"?
Срезы и проекции оба понятия есть в OLAP. Другое я не нашёл.

[2017-09-04 10:08] leo-yuriev commented on #18
OLAP манипулирует агрегатами и аккумуляторами - вам это малополезно

С другой стороны, внутри OLAP опирается на манипуляции с микро-кубами - отдельными кусками данных, для которых заранее вычисляется разумный набор агрегатов и аккумуляторов. Другими словами, после загрузки и "индексации" данных OLAP не просматривает и не анализирует отдельные исходные записи, так как их слишком много.

Вам нужно п

[2017-09-04 18:40] 0x4E69676874466F78 commented on #18
Ну пока я думал в кэше хранить готовые графы, типа есть часто запрашиваемые родители и вот хранится всё что от него исходит, дальше чтоб не плодить повторов можно сначала проверять есть ли внутри уже уже нужный кусок графа и если есть то просто выдавать его срезом. Соответственно если что-то поменялось внутри графа то перестроить заново кусок в кэше.
Но это просто костыль для производительности, д

[2017-09-05 07:45] lostdj commented on #18
@0x4E69676874466F78

? https://wiki.postgresql.org/wiki/Index-only_scans
В частности https://wiki.postgresql.org/wiki/Index-only_scans#Interaction_with_HOT

***

Вообще-то на LMDB много графовых обёрток наделали, но не знаю как они подходят под все требования с правами доступа и т.д.

[2017-09-05 08:02] lostdj commented on #18
@0x4E69676874466F78

Менеджить свой кэш -- всегда звучит жутко. Можно сразу держать ключи по схеме `rootid_childid`, создавая их сразу во время инсерта чайлда, или через duplicate keys со своим компаратором: http://www.lmdb.tech/doc/group__mdb.html#gacef4ec3dab0bbd9bc978b73c19c879ae

[2017-09-05 08:20] leo-yuriev commented on #18
Теплее.
 Подумайте/посмотрите в сторону reasoning materialization, что примерно равнозначно "индексированию RDF". Ещё раз перечитайте тред.

[2017-09-05 15:43] 0x4E69676874466F78 commented on #18
@lostdj спасибо, закрою пробел и про бэкреференс учту, обёртки тоже гляну (не думал что они есть).
@leo-yuriev ещё раз спасибо, да, мозги начинают вправляться. Подниму матчасть и перечитаю, сейчас хватает пробелов.
На тему "выплыть не на ту строну", вспоминается piwik (аналитика в строковой БД) и такого действительно не хотелось бы.

[2017-09-07 02:21] dreamsxin opened #19 "Happen Segmentation fault, when set `MDBX_RDONLY` flag and db file not exists."
[code]

[2017-09-07 06:46] #19 closed

[2017-09-07 06:59] leo-yuriev commented on #19
@dreamsxin, thanks for reporting.

[2017-09-14 03:11] zingchen commented on #17
The current implementation requires Windows 8.1 target or later, whereas current MinGW's library only supports Windows 7 or earlier. Building by MinGW, without a completely new implementation, is therefore impossible.

[2017-09-14 10:43] leo-yuriev commented on #17
There are two principal reasons to NOT support Windows earlier 8.1:
1. Windows 8.0 (and all earlier versions) have enough of flaws in the implementation of virtual memory management and corresponding I/O. For instance please read [this thread](http://osronline.com/showthread.cfm?link=250109).
2. I don't able to testing for Windows 8.0 or earlier, just no infrastructure. More over, I don't wanna to

[2018-01-05 10:35] leo-yuriev opened #22 "ERROR_INVALID_ADDRESS while extending DB under Windows"
Seems that some internals of virtual memory management had changed with Windows 10 1703 (Fall Creators Update).

Anyway, but now does not work the current method of extension of file mapping.

So, the new way is required or we should abandon the dynamic changes of database size under Windows.

[2018-01-07 11:40] #22 closed

[2018-01-07 11:46] leo-yuriev commented on #22
@georgehazan, FYI.

Можно пробовать/тестировать.

Но скоро (может даже сегодня) будет еще пара коммитом, с реализацией уменьшения размера БД (уменьшения размера отображения) на ходу для Windows.

[2018-01-11 20:43] leo-yuriev opened #23 "Add suport for "single txn" mode"
Just the one shared txn for all threads of process.

[2018-01-18 12:48] #10 closed

[2018-01-31 12:25] leo-yuriev opened #25 "Multithread deadlock on Windows (windows OS kernel bug)"
Seems this is a Windows kernel bug, i.e. deadlock in case LockFileEx() called from one threads and WriteFile() from another.

First thread:
[code]

Second thread:
[code]
But no reason to IopAcquireFileObjectLock() be blocked.

[2018-01-31 12:30] leo-yuriev commented on #25
@georgehazan, FYI.

[FB post](https://www.facebook.com/leo.yuriev/posts/778584272329172).

[2018-01-31 13:08] #25 closed

[2018-01-31 22:15] leo-yuriev commented on #25
Simple testcase to reproduce without libmdbx.
https://gist.github.com/leo-yuriev/b25697898a754dbaa0dac89abf824a72

[2018-02-07 06:16] catroot opened #27 "Make libmdbx SWIG compatible"
I've tried to bind libmdbx to python using swig with no success since mdbx.h contains not all nesessary definitions such as MDBX_env.
Can you make mdbx.h suitable to use with SWIG to produce correct output files?

When i tried to call the `mdbx.create_env(env)` from python i got:
`TypeError: in method 'mdbx_env_create', argument 1 of type 'MDBX_env **'`
But there is no way to obtain the MDBX_env *

[2018-02-07 07:00] leo-yuriev commented on #27
MDBX_env, MDBX_txn, MDBX_cursor and so on - are the internal structures and MUST NOT be defined outside libmdbx.
You should operate only opaque pointers to ones, no more.

Please read aboud opaque pointers in SWIG. For instance [#1](
https://github.com/swig/swig/wiki/FAQ#q-how-do-i-interact-with-functions-that-require-double-void-pointers---void-), [#2](http://jim-jotting.blogspot.ru/2014/08/swig-

[2018-02-07 07:00] #27 closed

[2018-02-21 04:20] DmitriyMaksimov opened #28 "Unable to create read only transaction if write transaction open"
MDBX doesn't allow to open read only (MDBX_RDONLY) transaction if write transaction already open (LMDB allows that).

Code snippet to illustrate the issue:

[code]

The behavior introduced by [commit 6b55333](https://github.com/leo-yuriev/libmdbx/commit/6b5533338fe0ffdb4a24077f885e16bfdf1ef881).

[2018-02-21 05:22] leo-yuriev commented on #28
This is a bug (unchecked precondition) in LMDB, but not MDBX.

One thread - one transaction, otherwise you could break a lot.
Exactly `lmdb.h` say:

P.S. Sorry for typos, I write from phone.

[2018-02-21 05:22] #28 closed

[2018-02-21 10:45] DmitriyMaksimov commented on #28
@leo-yuriev Большое спасибо за быстрый ответ, Леонид!
Если это баг LMDB, то наблюдается непоследовательное поведение - если поменять порядок создания транзакций (сначала открыть MDBX_RDONLY, а затем транзакцию для записи - ниже пример), то все работает. "Читающая" транзакция изолирована от "пишущей" - изменения не видны до момента фиксации (commit) и обновления (reset/renew) "читателя".

[code]
из

[2018-02-21 11:57] leo-yuriev commented on #28
Вы правы насчёт непоследовательности.
Контроля для обратного порядка сейчас нет, так как он дороже - нужно просканировать всю таблицу читателей.

У Говарда в LMDB (видимо) не должно быть проблем, если не открыть и не закрывать DBI-хендлы в таких наложенных транзакциях.

У меня в MDBX проблем должно быть ещё меньше - в проблемных ситуациях должна возвращаться ошибка вместо крэша.
Однако, за ненадоб

[2018-02-21 12:09] DmitriyMaksimov commented on #28
Спасибо за ответ!

В нашем проекте мы используем LMDB, но не хватает произодительности при синхронной записи, а использование небезопасного режима оборачивается битой БД. Я сейчас пробую использовать MBDX, но столкнулся с описанной проблемой - один из тестов не проходит (у нас есть своя С++ обертка над LMDB). Не факт, что в прикладном коде есть такое использование, но в тестах есть...

Еще раз спа

[2018-02-21 12:26] leo-yuriev commented on #28
Тогда внимательно прочитайте readme и при необходимости задавайте вопросы. Но в целом важно понимать, что в LMDB/MDBX всегда линейная история поэтому объем записи на диск не меняется.

Соответственно, MDBX не будет быстрее, но сохранит базу за счёт отката к последней полностью зафиксированной транзакции.

[2018-03-04 11:52] haneefmubarak opened #29 "Tag a (new) Release"
Hey @leo-yuriev,

I'd like to use this as a vendored dep in a project, but the last release was eons of commits ago. Could you tag a release at the latest point that you think feels reasonable? It'd be great to be able to refer to a proper tagged release as opposed to just pulling HEAD or some random commit hash.

Thanks!

[2018-03-07 11:42] leo-yuriev commented on #29
@haneefmubarak, just now I tagget [v0.1.0](https://github.com/leo-yuriev/libmdbx/releases/tag/v0.1.0)

[2018-03-07 11:42] #29 closed

[2018-03-20 20:09] 0joshuaolson1 opened #30 "Docs/question: What are the intended/optimized-for use cases for the next version?"
- I see mdbx targets more than POSIX platforms (not reflected the README?), so it's not going to be limited to/optimized for a specific kernel's memory management style?
- If I just want a sparse/hash set, does that affect some limit on the number of keys in the database?
- What is it not designed/good for? Highly parallel writes? Larger-than-RAM random-access reads?

[2018-03-26 11:51] leo-yuriev commented on #30
1. Support for other OS could be added, but I don't have infrastructure and enough time to do this. For instance public and free CI-services are available for Linux and Windows, but not for FreeBSD, AIX, Solaris, QNX and so on. +https://github.com/leo-yuriev/libmdbx/commit/ae708aab134c10b310f32b2962fc283ef746bfe0
2. One of an important point of MDBX/LMDB design is to avoid any internal memory mana

[2018-03-26 11:51] #30 closed

[2018-04-18 03:17] dreamsxin opened #31 "When second confirmation writing happen error"
The first and second  write same 100000 items, if second write 1 item will success and then change to 100000 will be success.

[code]

[code]

[code]

[2018-04-18 03:43] dreamsxin opened #32 "error: "MDBX_VERSION_MINOR" redefined"
The
[code]

[2018-04-18 09:57] #32 closed

[2018-04-18 10:16] leo-yuriev commented on #31
Couldn't reproduce. Please provide a testcase.

[2018-04-18 13:13] dreamsxin commented on #31
I use it directly in the PHP extension, and guess is due to different compilation parameters.

[2018-04-18 13:19] leo-yuriev commented on #31
@dreamsxin, however I should warn you - this could be a bug.

Historically MDBX inherites enough code opacity and bugs from LMDB (
So, be free to fill an issue.

[2018-04-19 01:12] dreamsxin commented on #31
If you want to compile PHP extensions, you can try.

Environment:

- OS: Ubuntu16.04

Step 1:
[code]
Step 2:
Add `extension=phalcon.so` to file `/etc/php/7.0/cli/php.ini` at the end of the file.

Create file `test.php` code:
[code]
Step 3:
[code]

[2018-04-24 15:20] leo-yuriev commented on #31
Confirmed, this is the BUG.

[2018-04-24 22:06] #31 closed

[2018-04-26 02:49] dreamsxin commented on #31
Thank you!

[2018-06-06 13:01] leo-yuriev opened #34 "Support "upgrading" transactions from read-only to read-write"

[2018-06-18 20:34] byaka opened #35 "Any plans to make bindings for other langs?"
Крайне интересный и многообещающий форк LMDB!

А планируется ли в ближайшем будущем сделать биндинги для других языков (например для python)?
Пытаюсь привлечь [https://python-forum.io/Thread-libmdbx-prod-ready-fork-of-LMDB-someone-can-wrap-it-for-python?pid=50151#message](сообщество), ибо прекрасно понимаю, что биндинги не входят в число приоритетов. Но боюсь, что ничего не выйдет - для оригинальн

[2018-06-18 20:43] leo-yuriev commented on #35
Это планируется сделать для версии 1.0, которая сейчас в ветке [devel](https://github.com/leo-yuriev/libmdbx/tree/devel).

[2018-06-19 12:16] byaka commented on #35
спасибо, рад слышать :)

[2018-06-19 12:16] #35 closed

[2018-07-18 06:49] leo-yuriev opened #36 "Add TxFS support (fs_tx_begin/fs_tx_commit)"
http://www.opennet.ru/opennews/art.shtml?num=48981

[2018-08-14 14:37] leo-yuriev opened #37 "Merge https://github.com/bingmann/stx-btree"
Seems that is possible and reasonable to implement C++ interface as similar to STX B+ Tree.
At least the useful C++ template should be provided to automatically creating some wrappers.

In addition, we need to collect all the thoughts, ideas and wishes of @bingmann on this topic.

[2018-09-01 21:07] leo-yuriev opened #38 "Database corruption by cross-merging LEAF and BRANCH pages (inherited from LMDB)"
This bug discovered by long-running test, which add/update/delete key-value pairs with stochastically choosing the length of key and data.

Running such test with quantity of transaction in range from 100,000 to 1,000,000 fails with a probability of about 0.1 - 1%.

The investigation showed that the damage to the database structure is due to erroneous / invalid merging of different types of pages,

[2018-09-06 09:03] leo-yuriev commented on #38
Это одна из фатальных ошибок унаследованных из LMDB - существенное упущение в дизайне и алгоритмах, которое замаскированно плохим стилем кодирования.

Суть проблемы:
 - высота дерева может увеличиваться даже при удалении данных (пояснение ниже).
 - в коде пере-балансировке и слияния несть несколько ошибок/упущений, но увеличения высоты дерева приводит к разрушению БД из-за вот этого [ребус-кошмара

[2018-09-06 10:04] hyc commented on #38
Sounds like http://www.openldap.org/its/index.cgi/Software%20Bugs?id=8258

[2018-09-06 10:40] leo-yuriev commented on #38
Yes @hyc , this is the same bug/issue, but it newer has been fixed (corresponding ITS-patch is applied a time ago).

Briefly, independent of merge-or-move strategy it is possible that a tree will be higher after the deletion than the before.

[2018-09-06 10:48] leo-yuriev commented on #38
Testcase is simple:
 - let S is a sequence of 3-byte long numbers (e.g 0...2^24-1).
 - insert a lot of "even" items with short keys of form "aS".
 - insert a lot of "odd" items with long keys of form "bS-any-long-string-upto-maxkeylength".
 - remove an "even" items.

[2018-09-07 16:14] hyc commented on #38
By "odd" and "even" do you mean the long and short keys are interleaved? Otherwise I don't see how this can trigger the issue.

[2018-09-07 16:33] leo-yuriev commented on #38
Yes, certainly.
It seems obvious .

[2018-09-07 16:37] hyc commented on #38
Unable to reproduce any failure...

[mtest7.c.txt](https://github.com/leo-yuriev/libmdbx/files/2361800/mtest7.c.txt)

[2018-09-09 09:49] leo-yuriev commented on #38
I tried the given [mtest7](https://github.com/leo-yuriev/lmdb/commit/20f1eb4dc4d0a00a5680ca41c6435993ac49d4bf) and then made [some changes](https://github.com/leo-yuriev/lmdb/commit/b2999d143da6d599190edd13a067a8b2362a00bd) to fit the scenario I tried to describe above.

Unfortunately it don't reproduce the failure nor in the original LMDB, nor in the MDBX.
However, a longer stochastic test steadi

[2018-09-13 21:35] leo-yuriev commented on #38
Fixed in the 'master' branch now.

[2018-09-13 21:35] #38 closed

[2018-09-14 08:26] leo-yuriev opened #39 "test-internals broken on Windows now"

[2018-09-25 20:44] leo-yuriev opened #40 "add I/O-layer binding to PMDK (Persistent Memory Development Kit)"
Expecting to surpass all other [PMDK](https://github.com/pmem/pmdk)-based key-value storages.

[2018-10-11 09:56] leo-yuriev opened #43 "Remove dependency on MSVC CRT"
In the other words - replacing all CRT's functions by alternatives from `ntdll.dll` and `kernel32.dll`, and don't linking `mdbx.dll` with MSVC CRT libraries:
1. replace all CRT's functions by mdbx-defines;
2. add corresponding defines (`ntdll.dll` and `kernel32.dll` functions) to [OSAL](https://en.wikipedia.org/wiki/Operating_system_abstraction_layer);
3. add implementation of lacks functions or d

[2018-10-11 10:16] leo-yuriev commented on #43
@georgehazan, у меня нет XP чтобы по-завершении проверить совместимость. Поможете?

В идеале это-бы прикрутить к текущему CI на AppVeyor, но у меня не получилось добиться со старым SDK (всё равно были доступны определения из последующих версий).

Кроме этого, нужно синхронизировать все (даже минимальные) ваши правки с mainstream.

[2018-10-11 18:10] georgehazan commented on #43
@leo-yuriev да, конечно помогу. у меня есть XP, можно пробовать в любой момент

Правок две, одна чисто косметическая для сборки со старым SDK, вторая - для пробрасывания флага MDBX_EXCLUSIVE внутрь открытия файла.

[2018-10-12 13:20] leo-yuriev commented on #43
@georgehazan, а можете выслать мне почтой таблицу экспорта из 32-битной версии ntdll.dll от Windows XP или Windows 2000?

`dumpbin.exe /exports C:\Windows\System32\ntdll.dll > ntdll.exp`

[2018-10-12 13:49] wangjia184 opened #44 "Best practice of mdbx_txn_commit()"
It turns out `mdbx_txn_commit()` is the most IO-bound operation. In my machine it takes 200-300ms  even there is only one `mdbx_put` in each txn.

I want the changes are accumulated in a single txn, and txn is not commited until `mdbx_put` cannt put more changes.

[code]

But `mdbx_txn_commit` fails with error `MDBX_BAD_TXN`

[2018-10-14 12:11] leo-yuriev commented on #43
@wangjia184, please check currnt master branch.

[2018-10-14 12:50] wangjia184 commented on #43
Thanks @leo-yuriev
I am implementing a .NET standard assembly wrapping libmdbx v1.6.

Will this change merged to v0.1?
Is there any breaking changes in the exposed methods between v2.0(master) and v1.6(0.1 branch)

[2018-10-14 13:07] georgehazan commented on #43
@leo-yuriev these changes might cause serious performance degradation, because memory management inside Universal CRT is _much_ faster & safer than one in kernel32.dll (Local*). my advice is to keep both variants, i.e. libmdbx should call usual CRT functions, if macro MDBX_BUILD_DLL is not defined

[2018-10-14 15:36] leo-yuriev commented on #43
No, since it is not a bugfux, but enhancement.

Do you tried `git diff v0.1.6 v0.2.0 -- mdbx.h`?

[2018-10-14 16:08] leo-yuriev commented on #43
In 30 years, Windows has not introduced acceptable dynamic memory management API?
Seems this is not an libmdbx issue ;)

Nevertheless, libmdbx calls memory-management functions relatively rare.
Most often such calls occurs for page allocation, but only when DB was opened without MDBX_WRITEMAP.
So, the overhead from Windows I/O will be 100-1000 times large than the memory management.

On the other

[2018-10-14 17:06] leo-yuriev commented on #44
Yes, of cause `mdbx_txn_commit()` will be always the mostly IO-heavy operation, since only commit will persist any changes on a disk.

Internally libmdbx uses a list of pages to tracking a 'dirty' pages, which should be updated on the disk during transaction commit. This list couldn't be boundless, therefore libmdbx has a reasonable [internal limit](https://github.com/leo-yuriev/libmdbx/blob/d2bfb

[2018-10-14 18:15] #43 closed

[2018-10-15 01:57] #44 closed

[2018-10-17 02:02] wangjia184 opened #46 "Setup CD to build libmdbx for mainstream platforms"
[mdbx.NET](https://github.com/wangjia184/mdbx.NET) ships libmdbx binaries along with its package management. mdbx.NET is a .NET Standard assembly and it is compatible for Linux/Mac as well. When mdbx.NET starts, it checks OS type and loads corresponding edition binary automatically. Hence its user does not care about deployment at all.

In this reason, mdbx.NET needs to embed libmdbx binaries of m

[2018-10-17 08:56] leo-yuriev commented on #46
Thank you for .NET bindings.

1. libmdbx yiet not support Mac OC.
2. I do not plan to distribute anything other than the source code in the near future.
3. I think you should not include anyone binary DLLs into your source code.
Instead of this you should just add to your `mdbx.sln` a dependency from my dll-project (the `dll.vcxproj` file). I assume this will be is enough.

[2018-10-20 13:01] leo-yuriev opened #47 "Crash after DB auto-shrink on Windows 10 UCRT"
1. Toolhelp API could return a "hidden" ThreadID(s). Then the OpenThread() function return valid handle for such ThreadID for THREAD_SUSPEND_RESUME, but SuspendThread() and other functions fails with ERROR_ACCESS_DENIED. Moreover, such threads NOT visible from Visual Studio debugger, but from ProcessHacker and it shown such threads is executes UCRT initialization code.

2. Since some thread(s) don

[2018-10-20 13:49] leo-yuriev commented on #47
@georgehazan, сегодня при тестировании libfpta обнаружил вот это чудо.
Думаю сегодня-завтра поставлю костыли, но потребуется большое тестирование.
Поэтому на всякий случай имейте в виду, возможны баг-репорты от пользователей, как минимум после обновления на Windows10 build 1809.

[2018-10-21 17:30] #47 closed

[2018-11-05 11:57] leo-yuriev commented on #46
Continuous Integration (aka CI) for (all supported platforms) is done more than year ago.
Continuous Delivery (aka CD) is not a goal, since `libmdbx` now provided in source code only, but not in binary/packaged form.

It is planned to provide packages for common Linux distributions, but not any binary builds for Windows (
at least until Microsoft provides the appropriate infrastructure, which is u

[2018-11-05 11:57] #46 closed

[2018-11-21 17:58] leo-yuriev opened #48 "Crash (Access Violation) on Windows10 while extending DB size"
I could not reproduced this bug on a retro windows (e.g W2K).
But on modern Windows 10 (1803 build 17134.407) it is easy to reproduce by `ut_fpta9_thread --gtest_repeat=-1 --gtest_shuffle --gtest_break_on_failure` ([the unit test inside libfpta](https://github.com/leo-yuriev/libfpta/blob/master/test/9thread.cxx)).

So, I could found the reason: **The entire mapped section is unavailable for a shor

[2018-12-11 21:17] alexdovzhanyn opened #49 "FeatureRequest: OSX support"
I'm really excited about this project, it looks very promising, and my team and I are looking into building elixir/erlang bindings for this, but I'm having trouble compiling for OSX and I saw you mentioned in another issue that there is no OSX support yet.

Is there a timeline or an estimate as to when you're planning to make this OSX compatible?

[2018-12-17 10:34] leo-yuriev commented on #49
I don't use a Mac myself and there were no other good reasons to implement OSX support.

OSX support can be technically very simple or quite challenging. To do this, we need to know all the subtleties of the corresponding API: file and other locks, shared mutexes, memory-mapped files with changing size of ones, initialization and finalization of thread local storage.

In the case of Windows, it wa

[2018-12-17 18:36] alexdovzhanyn commented on #49
Thanks for the reply! We'll take a look at adding OSX support, I have a mac so I can take a look. At first glance I was able to get it mostly compiled -- outside of some atom reference issues.

[2018-12-19 17:38] leo-yuriev opened #50 "add I/O binding for libnvdimm"
https://www.kernel.org/doc/Documentation/nvdimm/nvdimm.txt

[2019-03-05 13:59] nice-redbull opened #51 "Инкрементальный бекап/рекавери."
Благодаря режиму "LIFO RECLAIM" размер такого бекапа должен быть, в некоторых сценария, минимален.

Для реализации такого механизма предложу свою идею:
- Создать битмап индек в виде файла в той же дирректории что и база данных. (один бит - один блок/страница бд)
- Устанавливать биты в "1" если блок связывается с транзакцией и считается потенциально "грязным"
- Устанавливать биты в "0" **после** "р

[2019-04-07 07:04] pavel-pimenov opened #52 "PVS Studio report"
PVS-Studio Version:	7.01.31225.1583
Total Warnings (GA):	106
Total Warnings (OP):	9
Total Warnings (64):	32

http://www.fly-server.ru/pvs-studio/libmdbx/

[2019-04-07 10:42] leo-yuriev commented on #52
@pavel-pimenov, thank you for your work.
Unfortunately I won't be able to use the result.

PVS is a good statistical analyzer, but so far it is significantly inferior to Coverity in terms of practical use in open source projects:
- All statistical analyzers have to be pedantic, so they give a lot of false-positive warnings, especially for low-level "unsafe" C code.
- Therefore, it becomes importan

[2019-04-07 10:42] #52 closed

[2019-04-07 11:06] SvyatoslavRazmyslov commented on #52
@leo-yuriev thank you for your comment.

For many years, there has been the possibility of suppressing FA warnings. See the article "[How to Step Over Legacy and Start Using Static Code Analysis](https://www.viva64.com/en/b/0527/)".

[2019-04-14 20:01] bertbeck commented on #49
I am also interested in OSX support. Any progress? I could help as well.

[2019-04-14 20:21] alexdovzhanyn commented on #49
@bertbeck I looked into it a bit but never got around to implementing. That being said we have been looking for someone to join our team specifically to work on this as a feature, so if that interests you let me know and we can talk further!

[2019-04-14 20:48] bertbeck commented on #49
I’m Interested!
How much time did you think it would take?
Who is your team?

[2019-04-14 21:10] alexdovzhanyn commented on #49
We've been looking for a C dev to add OSX support and unfortunately
everyone else is on Linux. If you have experience working with C and can
look into adding support we'd donate towards your effort

On Sun, Apr 14, 2019, 4:48 PM Bert Beckmann <notifications@github.com>
wrote:

[2019-04-14 22:15] bertbeck commented on #49
I am a C and DB developer. Tell me me more about what you could provide.
I’m looking for a very fast and robust database- interested also in seeing
if hashed keyed access could be added

Do you use libmdbx in production? How reliable is it?

On Sun, Apr 14, 2019 at 3:10 PM Alex Dovzhanyn <notifications@github.com>
wrote:

[2019-04-15 13:22] alexdovzhanyn commented on #49
@bertbeck We haven't been able to use it in production due to the lack of MacOS support. @leo-yuriev might be a better resource to answer this question. If you want to look into adding MacOS support to it we can donate some Bitcoin to your efforts.

[2019-04-15 14:41] bertbeck commented on #49
ok

do you use libmdbx in production? How reliable is it?

On Mon, Apr 15, 2019 at 7:22 AM Alex Dovzhanyn <notifications@github.com>
wrote:

[2019-04-15 15:50] alexdovzhanyn commented on #49
@bertbeck

[2019-04-15 18:52] bertbeck commented on #49
I see.

On Mon, Apr 15, 2019 at 9:50 AM Alex Dovzhanyn <notifications@github.com>
wrote:

[2019-05-06 05:58] leo-yuriev opened #53 "binding for https://spdk.io/"

[2019-06-04 14:24] erthink opened #54 "Provide driver for ardb"
https://github.com/yinqiwen/ardb/issues/464

[2019-06-17 17:10] leo-yuriev opened #55 "fsck-compatible flock for raw-devices"
`/run/fsck/<diskname>.lock`

[2019-07-04 09:30] kozross opened #56 "Does mdbx_strerror_r's return value require free-ing?"
After something like:

[code]

Do I need to call ``free`` on ``error_text``?

[2019-07-04 12:18] leo-yuriev commented on #56
You should manage the `buffer` (and free it in case it was allocated), but not the `error_text` (which cold be pointed to const string or to any byte inside the `buffer`).

Like the GNU-specific `strerror_r()`, the `mdbx_strerror_r()` returns either a pointer to a string that the function stores in given `buffer`, or a pointer to  some (immutable) static string (in which case `buffer` is unused).

[2019-07-05 22:55] #56 closed

[2019-08-14 10:17] leo-yuriev commented on #49
Partially done in the 'osx-try' branch.
I will continue (e.g. debug it by kvm) in a weekend.

[2019-08-14 11:40] leo-yuriev opened #57 "Rename to "Mithril DB"?"

[2019-08-14 13:44] alexdovzhanyn commented on #49
@leo-yuriev That's great, very excited for this!

[2019-08-14 14:02] 0x4E69676874466F78 commented on #57
Why exactly Metal?
If you nonetheless rename it do not forget to leave a mark (ex libmdbx) to after reindexing (search engines) can still be found by the old name.

[2019-08-18 23:21] leo-yuriev commented on #49
With great difficulty (thanks to Apple) I managed to install Mojave in VirtualBox.
So, the code in the 'osx-try' branch compiles (just by `make`) without warnings and works (for instance `make test`).

However, compared to Linux and FreeBSD, tests are much slower (20-30 times) even when text data is placed in ramfs. This causes the tests to be timed out on travis-ci.org
The top utility shows about

[2019-08-19 01:00] alexdovzhanyn commented on #49
I'll play around with it this week! Aiming to add binding support for
elixir.

On Sun, Aug 18, 2019, 7:21 PM erthink <notifications@github.com> wrote:

[2019-08-19 23:15] leo-yuriev commented on #49
I measured the performance by [ioarena](https://github.com/pmwkaa/ioarena) tests under VirtualBox.
**Briefly:**
 - libmdbx is a little bit faster than LMDB (details are below).
 - Data durability [requires](https://developer.apple.com/library/archive/documentation/System/Conceptual/ManPages_iPhoneOS/man2/fsync.2.html) `fcntl(F_FULLFSYNC)` instead of `fsync()`.
 - **_But_** using `fcntl(F_FULLFSYNC

[2019-08-19 23:56] leo-yuriev commented on #49
[Added](https://github.com/leo-yuriev/libmdbx/commit/657d37c9e39c647e0d8076b9b0ee9e0b2afeee88) `MDBX_OSX_SPEED_OR_DURABILITY` option.

[code]

[2019-08-20 00:20] #49 closed

[2019-08-26 02:05] vladp commented on #57
when naming, you, unfortunately, need to check for large-sized projects/initiatives that might share this name.
in this case Metal is https://developer.apple.com/metal/

Larger projects will overshadow/confuse programmers.
Probably not something you want.

Еще есть один небольшой совет (если можно):

я не уверен что постоянное напоминание насколько Ваше решение лучше лмдб -- очень помогает.  Может

[2019-08-26 12:09] ddorian commented on #57
In this case `metal` is not a db, so it should be ok. As long as you search with `db`, like `lmdb`, `rocksdb`, `leveldb`.

[2019-08-26 15:57] leo-yuriev commented on #57
Не пойму о чем вы говорите. Объективно есть ряд доработок, которые просто перечислены в README с небольшими пояснениями. А в актуальной версии README, в самом начале есть фразе _"libmdbx превосходит LMDB по возможностям и надежности, не уступая в производительности"_, которая достаточно точно и кратко передает суть.

Далее, в README также есть результаты бенчмарков и сравнение "с несколькими похож

[2019-08-29 10:52] leo-yuriev commented on #57
s/Meta/[Mithril](https://en.wikipedia.org/wiki/Mithril)/g ?

[2019-08-29 15:41] #57 closed

[2019-09-02 16:57] leo-yuriev opened #59 "rust bindings by bindgen"
https://github.com/rust-lang/rust-bindgen

[2019-09-26 06:05] josephnicholas opened #60 "Key and Data sizes with DUPSORT"
Hello @leo-yuriev ,

We have an issue before previously in LMDB when handling post quantum signature schemes. Since the keys was so big, there was a limitation in LMDB. When a db is created with `DUPSORT` flag enabled the key and data values would have the same size of 0 - 511 bytes.

- So my question would be does `libmdbx` inherit the LMDB key size limitation or is it different?

[2019-09-26 06:35] erthink commented on #60
Since 2020 _libmdbx_ supports keys and dupsort values **2 times longer than _LMDB_** for the same DB page size. Please use [`mdbx_limits_keysize_max()`](https://libmdbx.dqdkfa.ru/group__c__statinfo.html#gab833240078c4d8effadf1b7bf3a7a44f), [`mdbx_limits_valsize4page_max()`](https://libmdbx.dqdkfa.ru/group__c__statinfo.html#ga52ea51805876cb1e3289b18451897337) and [`mdbx_limits_pairsize4page_max()`]

[2019-09-26 09:15] josephnicholas commented on #60
Thank you @leo-yuriev .

Just a follow-up use case, so I currently have some data:

`<amount>[32 bytes] : <cryptographic key>[4.96KB]`

So what I want to do is create a database which enables DUP and DUPSORT, basically same as what the LMDB flags here does:
https://github.com/LMDB/bitmonero/blob/d0d76f771ac318046306cd2ef40e67d598d7429d/src/blockchain_db/lmdb/db_lmdb.cpp#L1400

So currently, as I'v

[2019-09-26 10:08] leo-yuriev commented on #60
For 4096-bytes dupsort values, you need a database page size of at least 32K, since the max key size is _slightly smaller_ than 1/4 the page size. I. e. with page size 8192 you will get about 2000 maximum key size, and about 4000 with 16384. So it seems only 32768 page size will be enough for your case.

---

Just in case, I note that the support of long keys is always quite expensive. All databas

[2019-09-27 08:58] josephnicholas commented on #60
@leo-yuriev Thank you for discussing into detail your suggestions. I really do appreciate the help. I have a question though I hope you don't mind, since maybe I can't use `libfpta` yet for some licensing reason right?

So can you please discuss more on how would the "external key" on another "key-value" space help? Does this mean I have to create a DB then store on that other DB just the [4096]"s

[2019-09-27 09:42] leo-yuriev commented on #60
A "key-value space" means a "database" in the LMDB' terminology (I think "space" is more suitable, since "database" make confusion with "a whole database as the set of a spaces" that LMDB calls "environment").

The "external key" concept is very similar to "foreign key" from SQL, but in key-value DB you need done the same job by yourself. In general, you should split your key-value items into two

[2019-09-27 10:24] josephnicholas commented on #60
Thanks @leo-yuriev very well explained, I will try to implement this based on what I understood.

Anyway, the use case only happens for a specific data, some are okay with LMDB, only this use case is really not handled. So is it advisable to implement LMDB on some and implement libmdbx on this specific one, or should I rewrite everything with `libmdbx`?. I know this actually to be answered by me(s

[2019-09-27 12:20] leo-yuriev commented on #60
libmdbx can give you more, but only yourself can decide how useful these additional features are to you. I suggest you examine with the [list of differences](https://github.com/leo-yuriev/libmdbx#improvements-over-lmdb) libmdbx from LMDB and read the information in the [mdbx.h](https://github.com/leo-yuriev/libmdbx/blob/master/mdbx.h).

[2019-09-30 00:10] #60 closed

[2019-10-03 15:00] leo-yuriev opened #62 "Nested transactions are broken now."

[2019-10-09 20:39] #62 closed

[2019-10-25 14:49] leo-yuriev opened #64 "Short-term TODO list"
1. [x] use CreateFileW() for Windows.
2. [x] Use boot_id to decide whether to rollback unsynced changes when opening the database.
3. [x] "Pickup" mode for opening DB (i.e. use the mode in which the database is already opened by another process).
3. [x] Provide `--help` for `mdbx_test`.
4. [x] Use `statfs()`, `statvfs()` to prevent opening DB in non-exclusive mode over a network.
5. [x] Check/fix

[2019-10-26 16:59] Kerollmops opened #65 "About the relocation function"
Did you though about implementing the currently [unimplemented LMDB `mdb_set_relfunc`](http://www.lmdb.tech/doc/group__mdb.html#ga697d82c7afe79f142207ad5adcdebfeb)?

I though about that because in Rust (and probably a whole lot other languages) interpreting a type that is not correctly aligned is undefined behavior, therefore when reading entries from LMDB/MDBX we need to check the alignment and r

[2019-10-26 17:30] leo-yuriev commented on #65
`MDB_rel_func` is for another and will not help in any way to data alignment.

However, it's easy to get aligned with _libmdbx_ right now:
- for a particular sub-database, ensure that all keys and values are a multiple of the required alignment;
- don't use `MDBX_DUPSORT` if the required alignment is greater than 4.

This should work basically, although I don't have any ready tests to check it.

-

[2019-10-26 17:44] Kerollmops commented on #65
[Here is the source of my though about the fact that this function would help on memory alignment](https://github.com/AltSysrq/lmdb-zero/issues/8).

[2019-10-26 17:57] leo-yuriev commented on #65
@Kerollmops, unfortunately I made a mistake (leading parallel development of libmdbx and MithrilDB I begin to confuse their behavior).

So, _libmdbx_ can _only_ provide 4-byte alignment if the length of all keys and values is a multiple of 4.

[2019-10-28 10:10] #65 closed

[2019-10-29 16:35] sowle opened #66 "UTF-8-encoded paths support for win-32/64"
At this moment `mdbx_env_open` calls `CreateDirectoryA` and  `mdbx_openfile` calls `CreateFileA`, thus it's impossible to open a DB using a path containing Unicode characters (e.g. username in Windows home folder).

It would be great to treat `path` as utf-8 encoded string in the functions above, so it would work the same way in Windows and Linux/mac, like it was implemented in lmdb (they are usin

[2019-11-08 18:36] #66 closed

[2019-11-14 12:06] leo-yuriev opened #67 "non-WRITEMAP mode is broken on OpenBSD (this is OpenBSD kernel's bug)"
On OpenBSD writing to the file descriptor of a mmap'ed file are not (always and/or immediately) visible in the corresponding mmap'ed memory region.

For this reason:
 - all tests in modes with the WRITEMAP flag are always passed.
 - otherwise (in modes without the WRITEMAP flag) most tests fails with very high probability.

[2019-11-14 14:13] leo-yuriev commented on #67
It's Not a Bug, It's a [OpenBSD's Feature](https://marc.info/?l=openbsd-bugs&m=157373953304874&w=2).

[2019-11-14 14:13] #67 closed

[2019-11-14 14:14] leo-yuriev commented on #67
Related topic https://www.linux.org.ru/forum/development/15346691

[2019-11-14 15:35] leo-yuriev commented on #67
@hyc, FYI for LMDB.

[2019-11-14 16:48] hyc commented on #67
This was always known. OpenBSD has no unified buffer cache http://www.openldap.org/lists/openldap-technical/201708/msg00010.html

[2019-11-14 17:57] erthink opened #68 "AIX environment is needed for testing (i.e. ssh access)"

[2019-11-18 03:00] dreamsxin opened #69 "mdbx_sync_locked: Assertion `!(((head)->mm_datasync_sign) > 1u) || env->me_sync_pending != 0' failed."
ver `0.3.1`
Use `MDBX_CREATE | MDBX_DUPFIXED` happen
[code]
Source:
[code]

[2019-11-18 13:19] leo-yuriev commented on #69
This assertion is obsolete, i.e. the bug is that I didn't remove it. I will fix this in `stable/0.2` and `devel` branches soon.

You need to either wait for these fixes in a stable form in the `master` branch, or simply remove this `assert()` in your copy.

[2019-11-18 14:30] dreamsxin commented on #69
Thank you.

[2019-11-26 12:32] #69 closed

[2019-12-03 14:42] leo-yuriev commented on #68
The [polarhome.com](http://www.polarhome.com/) service(s) couldn't be used because `ERROR: E-mail address seems not to be valid`.

And support@polarhome.com not respond since 2019-11-30 (msg-id `<CAO2+NUCa4fu-bJLyinJZBw9UT6D_ts6ZKw_nqfEFPrFMegHqUw@mail.gmail.com>`).

[2019-12-03 20:38] #64 closed

[2019-12-04 09:50] ddorian commented on #57
any eta for Mithril ? Or how does it differ ?

[2019-12-07 19:10] leo-yuriev commented on #59
Mostly done in [mdbx-rs](https://github.com/Kerollmops/mdbx-rs) by @Kerollmops.

[2019-12-07 19:10] #59 closed

[2019-12-27 19:56] snej opened #72 "Opening a txn fails if env was opened with MDBX_NOTLS"
I'm porting some LMDB-based code to libmdbx, but hitting an assertion failure as soon as I open the first transaction. This looks like it might be a mistake in an assertion in the library.

My code is equivalent to:
[code]
This last line triggers an assertion failure at core.c line 5322:
[code]
At the time, `txn->mt_flags` is `MDBX_NOTLS | MDBX_RDONLY`.

My hypothesis is that the transaction inher

[2019-12-27 21:46] snej commented on #72
The issue persists in the latest commit on master, 2acaaeb2ff98c7baa67836636ac3b2cf8c079a36. My workaround seems good, since (after some fixes to my code) my entire program is now running.

[2019-12-27 21:53] leo-yuriev commented on #72
@snej, thank you for report. I will fix this shortly.

[2019-12-27 22:00] snej opened #73 "Address-Sanitizer error, after reopening a db"
One of my tests closes a database and then re-opens it. During the second call to `mdbx_env_open`, the Clang Address Sanitizer reports an invalid memory access and aborts the process:

[code]
There's a comment in core.c (just above stack frame 4) that says "AddressSanitizer (at least GCC 7.x, 8.x) could generate false-positive alarm here. I have no other explanation for this except due to an inter

[2019-12-27 22:33] snej commented on #73
I don't think this is a false positive; it looks like libmdbx is leaving memory poisoned after a database closes. I instrumented the code so that every call to ASAN_POISON_MEMORY_REGION and ASAN_UNPOISON_MEMORY_REGION logs the memory range to stderr. Here's the result:

[code]
Address 0x10fc0401c has been poisoned (twice) and never un-poisoned. That seems to explain why the ASan error occurs. (Unl

[2019-12-27 23:47] leo-yuriev commented on #73
@snej, it looks like you've found a way to fix the problem. Tomorrow I'll see how the other tests behave and apply the fix if everything goes well.

However, it is worth noting that this is false-positive, i.e. there is no bug in the main code, although it is possible that this is a consequence of misuse of the poisoning-API.

Also, just in case, I warn you that the latest version of Valgrind 3.15

[2019-12-29 12:15] #73 closed

[2019-12-29 12:15] #72 closed

[2019-12-30 23:44] snej opened #74 "Sparse file support (mark garbage pages as "holes")"
Some filesystems allow page-bounded regions of a file to be "holes" that look as though they're filled with zeroes but actually occupy no disk space. This is of course ideal for free space in a db file.

The last few releases of macOS and iOS have a new filesystem (APFS) that supports this. Holes are created by calling `fcntl(fd, F_PUNCHHOLE, ...)`. It would be great if libmdbx would support this,

[2019-12-31 13:46] leo-yuriev commented on #74
This is unreasonable. Sure.

1. Holes are (relatively) expensive:
   - creating each hole requires syscall and adding / updating internal FS structures (via journal, etc), moreover immediate PTE invalidation.
   - for mmap-region each hole has more expensive page-fault (i.e. FS space allocation) and/or requires tracking.
2. For B+Tree we will have a random pattern of single-pages holes, i.e. large

[2019-12-31 13:46] #74 closed

[2020-01-15 18:41] snej opened #75 "Is 2-byte alignment of values guaranteed?"
A minor issue I had with LMDB is that values are not 2-byte aligned. But libmdbx does appear to 2-byte-align values. Is this guaranteed, or is it an implementation detail you don't want clients to depend on? Either way, it would be nice to document that.

[2020-01-15 22:48] leo-yuriev commented on #75
1. Both LMDB and MDBX have a similar structure of DB pages. Each leaf-page (of a B+tree) is filled with user data (keys and values) end-to-end starting from the end of the page.
   - So basic requirements for get particular alignment are that size of the each key and value must be multiplicity of the desired alignment.
   - It should be clarified that each key+value pair is stored without a gap in

[2020-01-15 22:59] snej commented on #75
Thanks for the info!

I checked my code, and the values that need 2-byte alignment always have even-length keys (they're 32-bit ints), which explains why the values are always aligned. For whatever reason, this wasn't happening with LMDB; I got a random mixture of even and odd value addresses.

[2020-01-15 23:10] snej opened #76 "Q: Performance/size impact of custom key comparisons"
Hope you don't mind another question. Does using a custom `MDBX_cmp_func` key comparison function lower performance (aside from the time taken by the custom function itself) or increase database size?

It looks like there's no overhead for calling the function — both built-in and custom comparisons are called through the `md_cmp` function pointer — unless I missed something.

But from the bit I kn

[2020-01-16 00:02] leo-yuriev commented on #75
As far as I can remember, I didn't make any changes that caused the MDBX behavior be differ in from the LMDB at this aspect.

On the other hand, I could have done something and forgotten in five years of development. Nonetheless, it is better to ask questions about LMDB to Howard Chu (@hyc).

[2020-01-16 00:36] leo-yuriev commented on #76
Neither both.

Yes, that's right, and you didn't miss anything.

Yes, but neither MDBX nor LMDB uses key compression. Key compression saves space for a large number of records, but results in both a loss of performance and extreme code complexity. The best solution is not to use long keys.

No, since no key compression here. However, **I strongly recommend not using custom comparisons** since in c

[2020-01-16 01:09] snej commented on #76
I'm using DBIs to implement indexes of structured data in a main DBI.  So the length of the keys depends on the length of the property values that clients decide to index.

It's unavoidable in some cases. For example, collating Unicode strings uses some very complex algorithms (fortunately implemented by ICU!) and can't be expressed by transforming the data. I will definitely need to support this.

[2020-01-16 02:37] hyc commented on #75
Current LMDB guarantees 2-byte alignment for keys, and values start immediately after the end of the key, just as Leo described. In LMDB 1.0, keys will be padded if necessary, to ensure values start 2-byte aligned. If you have a current LMDB database with purely even-length keys and odd-aligned values, I would be interested to see a test case that reproduces it.

[2020-01-16 12:31] AnarkiQ3 opened #77 "Вопрос про расширение БД"
Ситуация такая: у нас есть одно приложение писатель и несколько приложений читателей.
У читателей хранится MDBX_env и MDBX_txn, в конце транзакций вызывается mdbx_txn_reset. Изначально под Windows мы с помощью mdbx_env_set_geometry сразу выделяли в писателе большую базу определенного размера и удаляли по таймеру старые записи, однако столкнулись с тем, что могли преждевременно достигнуть потолка и

[2020-01-16 13:01] leo-yuriev commented on #77
1. Вы не верно используете API.
   - Изменение верхнего предела размера БД требует изменения размера mmap-отображения, т.е. изменения резервирования адресного пространства в каждом работающим с БД процессе. Это очень затратный процесс, который в Windows требует снятия и повторного создания отображения.
   - Если один из процессов меняет размер отображения, то все остальные должны сделать тоже само

[2020-01-16 13:12] AnarkiQ3 commented on #77
Геометрия задается только один раз, при запуске писателя, хотя конечно возможно, что писатель может запускаться позже, чем читатели, но обычно изменения геометрии не требуется и она задается такой же

[2020-01-16 13:48] AnarkiQ3 commented on #77
Геометрия задается только один раз, при запуске писателя, хотя конечно возможно, что писатель может запускаться позже, чем читатели, но обычно изменения геометрии не требуется и она задается такой же

Насчет удаления по малому кол-ву свободного места, хотелось бы понять, какое количество старых записей необходимо удалять (т.е. нужно удалять столько же записей, сколько собираемся записать или больш

[2020-01-16 14:07] leo-yuriev commented on #76
For Unicode you need 'collation for machine' aka 'Generate ICU Sortkeys', which is a basic ICU feature. This is a regular way for DBMS (i.e. Oracle, MSSQL, etc). One of benefits is sortkeys are shorter than unicode strings and more handy for machine (i.e. 32-bit aligned). On the other hand, actual characteristics is highly dependent from implementation, and ICU is not a winner here (AFAIK).

Hm, I

[2020-01-16 14:35] leo-yuriev commented on #77
Задавайте геометрию _один раз при создании БД_, до запуска основных процессов работающих с БД, а в самих процессах открывайте готовую БД (с возвратам ошибки при её отсутствии) . Остальные варианты не могут надежно предотвратить изменение размера отображения "на ходу" и следовательно гарантировать успеха во всех случаях.

Ну есть же очевидные вещи - если удалять меньше чем добавлять, то рано или по

[2020-01-16 21:00] snej commented on #76
I'll look into ICU Sortkeys ... thanks!

I have no control over that. The data source is JSON and provided by the end user/developer. (And technically JSON only has a single number type, but we parse them to either int64 or double to preserve fidelity, depending on whether there's a decimal point or "e".)

I've partially implemented this in the past. It's simple for whole numbers, surprisingly tri

[2020-01-16 23:48] leo-yuriev commented on #76
Seems you should reconsider about JSON numbers and a little dive into the details of JavaScript implementation (especially to end of [page 6 of RFC-7159](https://tools.ietf.org/html/rfc7159#page-6), `Number.MIN_SAFE_INTEGER` and `Number.MAX_SAFE_INTEGER`). In general, 8 bytes is enough to store any JSON number conformed RFC-7159. Moreover it is easy to make common cross-comparable form for both ty

[2020-01-17 09:52] #75 closed

[2020-01-20 12:05] leo-yuriev commented on #77
@AnarkiQ3, закрываем issue или есть еще какие-то вопросы?

[2020-01-20 12:11] leo-yuriev commented on #76
@snej, can we close this issue or there still are other questions?

[2020-01-20 12:11] AnarkiQ3 commented on #77
Да, если вдруг получится воспроизвести ошибку MDBX_CORRUPTED, я напишу более подробно отдельно

[2020-01-20 12:11] #77 closed

[2020-01-20 20:12] snej commented on #76
The RFC "_allows_ implementations to set limits on the range and precision of numbers accepted." Our implementation allows 64-bit integers. I know JavaScript treats all numbers as doubles, but this isn't JavaScript.

Your pseudocode doesn't work when comparing negative numbers; e.g. it will say -3 > -2. It also doesn't compare doubles with ints correctly, since a double greater than two has a posi

[2020-01-20 20:12] #76 closed

[2020-01-21 00:46] leo-yuriev commented on #76
@snej, I think I accidentally confused you in the details, without showing the main thing.
The following is a simplified example of how you can get unified indexes (both for double and int64 with a limited range within 53 bits) for built-in comparators (`MDBX_INTEGERKEY` or `MDBX_INTEGERDUP`).

[code]

[2020-01-22 00:22] snej opened #78 "Doc error for mdbx_env_copy()"
The documentation for `mdbx_env_copy` is incorrect. It says:
[code]
As implemented, the database _file_ is written to `dest`, which must _not_ already exist.

It would be useful for the documentation to explain that, if you want the copy to be a database in the normal format (i.e. not `MDBX_NOSUBDIR`) you first have to create a directory, then pass `mdbx_env_copy` a path to the filename `mdbx.dat`

[2020-01-22 20:09] snej opened #79 "mdb_get requires 4-byte alignment of input keys, if DBi uses MDBX_INTEGERKEY"
I just hit an assertion failure inside a call to `mdb_get`, due to a pointer not being 4-byte aligned. The pointer is the `key->iov_base`. It looks like what happens is that, since the DBi uses `MDBX_INTEGERKEY`, the key-comparison function requires the keys to be 4-byte aligned. This makes sense internally, but was unexpected for an input parameter, since the docs do not say anything about requir

[2020-01-22 20:16] leo-yuriev commented on #79
This is surprised. I will recheck this since libmdbx much checked both with assertions and -fsanitize=undefined.

[2020-01-22 20:34] leo-yuriev commented on #79
Actually `mdbx_cmp_int_align4()` is internal function and used in two cases when alignment is guaranteed:
 - for internal GC sub-database, there all keys are 8-byte sized and values are sequences of 32-bit words.
 - for branch-pages of `MDBX_INTEGERKEY` sub-databases, there no values and all keys are 4-bytes aligned.

For now I can't figure out what the problem is and how to reproduce it. In parti

[2020-01-22 20:46] snej commented on #79
The address the assertion complains about is exactly the key address I passed to `mdb_get`. So I don't think anything in the database is unaligned; it's just that the b-tree code is comparing the given key against keys in the database, and the DBi's comparison function (`mdbx_cmp_int_align4`) expects both keys to be 4-byte-aligned, not realizing that one of them came from an API call...

If I'm un

[2020-01-22 20:50] leo-yuriev commented on #79
Oh, now I get it )

I agree, requirement for alignment should be documented for MDBX_INTEGERKEY and/or MDBX_INTEGERDUP.

[2020-01-26 12:00] #79 closed

[2020-01-26 14:03] #78 closed

[2020-01-26 23:02] Reisse opened #80 "MDBX put is dramatically slower in debug builds compared to LMDB"
I have the following simple piece of code, which fills the database with some test data:

[code]

It takes ~10 minutes to execute on my machine when compiled with the flags `-m64 -std=gnu++17 -fno-omit-frame-pointer -ffast-math -fno-finite-math-only -pthread -march=core2 -mtune=corei7 -g` (hereinafter "debug"). `perf` shows that MDBX spent majority of time in `mdbx_dpl_search`. The same code takes

[2020-01-26 23:18] leo-yuriev commented on #80
This is neither a bug nor a problem, but intentionally behavior.
MDBX used a lot of assertions which are enabled while library builded without `-DNDEBUG`.
So, you must decide whether you need a debug build with additional checks or a release build with high performance.

[2020-01-27 14:41] leo-yuriev commented on #80
@Reisse, could we close this issue?

[2020-01-28 09:10] Reisse commented on #80
Could you give me one day please? I've tried running with NDEBUG once and have a feeling that setting it doesn't help, but didn't yet had time to test it thoroughly.

[2020-01-28 11:24] leo-yuriev commented on #80
@Reisse, FYI, with modern GCC/CLANG the [` -Og`](https://www.phoronix.com/scan.php?page=news_item&px=MTE3NDg) option should be useful in your case.

[2020-01-28 12:47] sowle opened #81 "Coverity scan workaround seems to be not needed anymore"
It seems that Coverity scan workaround introduced by commit b4434778697628e159a5f59c89b19557703efaf4 is causing issues with the most recent Coverity 2019.03 as they have fixed this issue on their side and two workarounds conflict:

[code]

I have just tried to comment out the whole block `/* Workaround for Coverity Scan */` in `defs.h` and it went okay with the Coverity 2019.03.

[2020-01-28 16:35] leo-yuriev commented on #81
Thank you for reporting it.

[2020-01-28 16:46] #81 closed

[2020-01-28 22:54] Reisse commented on #80
Yes, thanks, `-DNDEBUG -Og` helps, but `-DNDEBUG` without optimization doesn't.

The reason of such slowness is this check in `SEARCH_IMPL` macro:
[code]
Amirite that `SEARCH_IMPL` does binary search first, then linearly checks that the range is sorted, and that correct element is found?

Even when `NDEBUG` effectively eliminates `assert(...)`, non-optimized empty for-loop penalty is enough to mak

[2020-01-29 00:22] leo-yuriev commented on #80
1. I think there is a misunderstanding about the purpose of "debug builds". Primary it is to debug library itself, but not an applications. But a debug build _can also be_ useful when debugging an application, since there is often no way to determine where the bug is in an application code or in the library.

2. There is often confusion between a "Build with debug information" and a "Debug build",

[2020-01-29 13:33] #80 closed

[2020-02-09 00:24] Reisse commented on #80
Sorry for the delayed response.

That's exactly what I was doing.

I found [the bug in LMDB](https://www.openldap.org/its/index.cgi/Software%20Bugs?id=9155) and wanted to check if it also could affect MDBX. Skimming quickly through the commit history, I didn't found related fixes in MDBX source code, so I decided to check it with the same test I used for LMDB. Of course I wanted to have default de

[2020-02-10 14:45] erthink opened #82 "False-positive diagnostics from Valgrind"
In the current understanding, I am completely sure that in both cases, the reason is Valgrind's bugs/defects/shortcomings. However, it seems reasonable to explicitly provide these links here:

1. [Bug#417075](https://bugs.kde.org/show_bug.cgi?id=417075). Suppression ignored for pwritev() syscall.
2. [Bug#417377](https://bugs.kde.org/show_bug.cgi?id=417377). False-positive "uninitialised value(s)"

[2020-02-17 17:50] erthink opened #83 "not-a-bug: Windows-version of libmdbx fails on Wine"
There is no bug in libmdbx, but consequence of incompatibility Wine to Win32/64 API and/or WindowsNT native API. However, I want to understand the exact cause and eliminate it if possible.
https://bugs.winehq.org/show_bug.cgi?id=48620

[2020-02-17 18:28] snej opened #84 "Website link is broken (http://leo-yuriev.github.io/libmdbx/)"
The Github project's associated web page is http://leo-yuriev.github.io/libmdbx/ ... this used to work a month ago but returns a 404 now. Might want to update it.

[2020-02-17 18:30] erthink commented on #84
Thanks for the report.

[2020-02-17 18:32] erthink commented on #84
Corrected where I noticed, but I will look for broken links in other places.

[2020-02-17 19:58] erthink commented on #83
@georgehazan, could you check this for Miranda on Wine?

[2020-02-18 19:52] #83 closed

[2020-02-18 21:28] erthink commented on #84
Seems done.

[2020-02-18 21:28] #84 closed

[2020-03-01 11:23] Kerollmops opened #85 "About the Rust bindings"
Hey @erthink,

I have made great progress on the mdbx Rust bindings today, it seems like every mdbx functions are detected, are correctly built, and the documentation is displayed for items that are documented with the doxygen syntax. 🎉

You can check that by [first installing Rust](https://www.rust-lang.org/learn/get-started), cloning the repo, and executing the following commands:
[code]

Howeve

[2020-03-01 14:03] Kerollmops commented on #85
I looked more closely to the comment and documentation generation issue related to [bindgen](https://github.com/rust-lang/rust-bindgen), and I found out that the documentation is produced only on comments starting with `/**` and not `/*`.

I will investigate.

[2020-03-02 10:53] #85 closed

[2020-03-02 11:22] erthink commented on #85
@Kerollmops, it is not everything is clear with the code comments for autogeneration of documentation:
   - On the one hand, it it seems to be useful to use Doxygen/Javadoc format to automatically docs generation.
    - On the other hand, this clogs the header file and makes it difficult to read comments with the API description.

I am of the opinion that Doxygen/Javadoc is useful for projects wit

[2020-03-28 14:25] Kerollmops commented on #85
Hey @erthink,

I have made some progress on [the mdbx-sys bindings](https://github.com/Kerollmops/mdbx-rs) today and [made heed work correctly with it](https://github.com/Kerollmops/heed/compare/move-to-mdbx) (at least the test I made) 🎉

But I have a big problem with the way mdbx compiles, currently the version of mdbx is based on the git branches and tags. Unfortunately cargo forces the reposito

[2020-03-30 11:57] erthink commented on #85
Hi @Kerollmops,

The "amalgamated source code" is exactly for this, and covered by `dist` target in the `GNUmakefile`, i.e. `make dist` produced "amalgamated source", including tarball. I guess [`Build Scripts`](https://doc.rust-lang.org/cargo/reference/build-scripts.html) should be enough to call `make dist` from cargo.

I don't plan on moving away from the "git tags" approach. Because it brings

[2020-03-30 12:18] erthink opened #86 "Use github-actions to provide custom release assets with amalgamated source code"
Use [github/hub](https://github.com/github/hub) or [`github-release`](https://github.com/aktau/github-release) utility for create custom release assets with amalgamated source code.

Related to https://github.com/erthink/libmdbx/issues/85#issuecomment-605956326

[2020-03-30 12:35] erthink commented on #17
@zingchen, seems this done now, since:
1. libmdbx is used by Miranda NG, i.e. successfully build and runs on Windows XP and Windows 7. More over the `MDBX_AVOID_CRT` option is provided.
2. building with `CMake` is supported.

Could someone check with MinGW and confirm this?

[2020-03-30 12:37] erthink opened #87 "Proofreading API description and README by native English speaker"
There are two items:
1. API description inside the [mdbx.h](https://github.com/erthink/libmdbx/blob/master/mdbx.h)
2. The [README.md](https://github.com/erthink/libmdbx/blob/master/README.md)

[PR](https://help.github.com/en/github/collaborating-with-issues-and-pull-requests/creating-a-pull-request) are welcome!

[2020-03-31 08:53] Kerollmops commented on #85
Hey,

I have made some experiments with the `make dist` rule on macos and it seems like some `tar` options are not supported on this OS.

I achieved to make it work by removing the `--owner=0`, and `--group=0`. The order of the options were also a problem so moved the `-f -` options at the front of the command. After these changes the build worked and a `dist/` folder is available.

[code]

[code]

[2020-04-03 14:16] zachgrayio commented on #87
Hi there @erthink , I'd be happy to help with this. Not an expert on the codebase yet, but we do make use of this library in one of our projects--thank you by the way, amazing work here.

[2020-04-04 09:20] Kerollmops commented on #85
Hey @erthink,

I have finally made it work really easily, the Rust crate do not depend on a git submodule but only on a raw copy of the generated dist folder.

I just have specified some correctness flags to gcc and some warnings popped up, do you think they are relevant at all?

[code]

[2020-04-04 11:45] erthink commented on #85
These warnings are not dangerous, but they should still be fixed. Please create an issue.

[2020-04-04 11:56] Kerollmops opened #88 "Compilation warnings"
When I compile the almagaded source code on osx with clang 11 with some more warning flags warnings poped up. Do they all need to be fixed?

Related to https://github.com/erthink/libmdbx/issues/85#issuecomment-609016262.

[code]

[code]

[code]

[2020-04-04 14:13] erthink commented on #88
@Kerollmops, please check and close issue on success.

However, the definition of compilation flags should be added into `build.rs`, i.e. something like: `builder.add_definition("MDBX_BUILD_FLAGS=" + quote(builder.get_flags()))`.

[2020-04-04 15:51] Kerollmops commented on #88
Ok, so I tried to passe the flags to mdbx and it seems like gcc doesn't like how I give it to him.

[code]

I just tried to put it into double quotes and it worked, but is it ok for mdbx? Do it need a double quoted string with all flags in it?

[code]

[2020-04-04 22:29] erthink commented on #88
In general - yes.

For instance while build via `GNUMakefile` the [`config.h` is created](https://github.com/erthink/libmdbx/blob/cf7cce90797c7f01b3a1cd5ce71baad309eeb4a8/GNUmakefile#L80-L85).
Another safe way to provide properly (with quotes and escaping) MDBX_BUILD_FLAGS by [using CMake](https://github.com/erthink/libmdbx/blob/cf7cce90797c7f01b3a1cd5ce71baad309eeb4a8/CMakeLists.dist-minimal#L127

[2020-04-04 22:36] erthink opened #89 "RFE-tracking for rpmdb: replace Berkeley DB with MDBX"
https://github.com/rpm-software-management/rpm/issues/958
https://bugzilla.redhat.com/show_bug.cgi?id=1086784

[2020-04-05 08:51] Kerollmops commented on #88
FYI these commits (in the devel branch) fixes the warnings I talked about.

[2020-04-05 08:51] #88 closed

[2020-04-05 11:34] erthink commented on #88
@Kerollmops, I think I should warn you to pay attention to the compilation flags and definitions:
1. `NDEBUG` must be defined to disable runtime assertions checking.
2. Optimization should be enabled (i.e. `-O2`, `-O3` or `-Ofast`, but not `-O0`) for release builds.
3. libmdbx has its own [set of options](https://github.com/erthink/libmdbx/blob/master/CMakeLists.txt#L288-L329). It is unlikely that

[2020-04-05 11:56] Kerollmops commented on #88
Thank you for those advices, I will look into all of them.

1. I will add a flag to disable those by default `NDEBUG`, it will be an optout feature named `with-ndebug`.
2. By default the `cc::Build` builder automatically defines the optimisation flag based on the cargo profile build, so for `cargo build --release` we got `-O3` set.
3. Ok, I will look into that, can those options be set using defin

[2020-04-05 14:01] erthink commented on #88
Yes, those options work exactly the same way.
Now still no support for ones in the minimalistic CMakeLists.txt (i.e [CMakeLists.dist-minimal](https://github.com/erthink/libmdbx/blob/master/CMakeLists.dist-minimal)) but it will be fixed soon.

[2020-04-05 14:19] erthink commented on #17
Seems done

[2020-04-05 14:19] #17 closed

[2020-04-05 14:21] erthink commented on #86
TODO: add support for a build-options to the "amalgamated" `CMakeLists.txt`.

[2020-04-05 15:17] erthink opened #90 "Bindings for Nim & Crystal"
https://nim-lang.org/
https://crystal-lang.org/

[2020-04-07 00:57] erthink opened #91 "Assertion failure inside mdbx_sync_locked()"
`mdbx:8431: mdbx_sync_locked: Assertion 'prev_discarded_bytes > discard_edge_bytes'`

[2020-04-07 01:12] erthink commented on #91
The bug was [here](https://github.com/erthink/libmdbx/commit/921f43da6fc8e28e2a8550e4d6e348ce1c964e7c#diff-bfae35a58667fce4a4b2e7a26cea56bcL8426).

So, the `prev_discarded_bytes` was truncated to a 32-bit value, which caused the assertion to be triggered.

This also caused performance degradation, since using a truncated value for `madvise(MADV_DONTNEED)` results in unnecessary page cache cleanup.

[2020-04-07 12:29] erthink commented on #89
obsolete

[2020-04-07 12:29] #89 closed

[2020-04-07 14:28] erthink opened #92 "The <sys/vmmeter.h> header is missing in iOS SDK"

[2020-04-07 19:56] #91 closed

[2020-04-10 17:16] snej commented on #73
This bug is still present in the current master branch (19454f26). Sorry for not reporting it until now; I hadn't realized that I still had my local experimental patch in place. After I took it out, the Address Sanitizer error reappeared. It looks like you didn't add the line that fixed it for me in your commit above.

I'll submit a PR in a minute.

[2020-04-10 17:48] snej commented on #92
FYI I've just filed a bug report with Apple about this, and referenced lmbmdbx as an example of a 3rd party library whose build breaks as a result.

[2020-04-10 17:54] snej commented on #92
Also FYI, it's not even necessary to include this header on Apple platforms. It's only needed for the `struct vmtotal info` declaration at core.c:9857, which is not compiled on Apple because the earlier `#elif defined(__MACH__)` section is used instead.

So you could fix the problem by wrapping the `#include` like so:
[code]

[2020-04-10 18:24] erthink commented on #92
@snej, thanks.

As far as I remember, there were some necessary definitions.
But I have redone it several times (in particular [this code](https://github.com/erthink/libmdbx/blob/19454f26e6a258b4ec7306dcb94a3483538cbf72/src/elements/core.c#L9832-L9840)).
Let me check.

[2020-04-10 18:40] #92 closed

[2020-04-10 22:35] oleg-kiriyenko opened #95 "ASAN mdbx_env_open crash"
Application using lmdbx crashes while started with ASAN.

Ubuntu 18.04/clang-9/
[code]
[code]

[2020-04-10 23:06] oleg-kiriyenko commented on #95
The same result is for v0.7.0 version

[2020-04-10 23:53] erthink commented on #95
Confirmed: null-pointer dereference in an ASAN-enabled build while opening DB in the read-only mode, i.e. **ASAN + readonly-opening**.

[code]

@oleg-kiriyenko, thank you for reporting. I'll try to fix it as soon as possible.

[2020-04-11 11:24] oleg-kiriyenko commented on #95
Fix for read only openning using that call:

rc = mdbx_env_open(db_handle->env, path, MDBX_NOSUBDIR | MDBX_NOTLS | MDBX_RDONLY, 0664)

But still crashes for:

rc = mdbx_env_open(db->env, dir_path, 0, 0666);

Maybe it is invalid use?

==23202==ERROR: AddressSanitizer: SEGV on unknown address 0x000000000010 (pc 0x7f88a0e1a244 bp 0x000000000000 sp 0x7fffd9bf7df0 T0)
==23202==The signal is caused by a

[2020-04-11 11:52] erthink commented on #95
@oleg-kiriyenko, please use quotation marks for logs. Instead each `#number` adds reference to the corresponding issue and extremely cluttering the issues section.

[2020-04-11 11:53] oleg-kiriyenko opened #96 "Windows MSVC 2017 build fails [master]"
When built on Windows I get error on redifinition of mode_t

#include <windows.h>
#include <winnt.h>
#ifndef __mode_t_defined
typedef unsigned short mode_t;
#endif

{
	"resource": "libmdbx/mdbx.h",
	"owner": "cmake-build-diags",
	"code": "C2371",
	"severity": 8,
	"message": "'mode_t': redefinition; different basic types",
	"source": "MSVC",
	"startLineNumber": 559,
	"startColumn": 1,
	"endLineNumb

[2020-04-11 11:56] erthink commented on #95
TODO: add corresponding test-cases.

[2020-04-11 12:30] oleg-kiriyenko commented on #96
Was my mistake. It was already defined one header above.

[2020-04-11 12:30] #96 closed

[2020-04-11 12:30] erthink commented on #96
The `mode_t` is nowhere defined inside MSVC-2013/2015/2017/2019 toolchain or Windows SDK, except cross-compilation for Linux but with providing the `__mode_t_defined` guard.

If you use `mdbx.h` with some other header files which are defines `mode_t`, then the error is that `__mode_t_defined` is not defined there. So you should submit issue "`mode_t` defined without `__mode_t_defined`" to the corr

[2020-04-11 13:52] oleg-kiriyenko commented on #95
Crash was fixed. Now it is OK. But I get strange error

[code]
Which corresponds EINVAL. In previous version I had warning something like "error=22, try-exclusive". So I guess error is in obtaining lock. Maybe I need root privilages or other flags?

[code]

But database files were created:

[code]

[2020-04-11 14:16] erthink commented on #95
Therefore I will close this issue.

Please open new issue for this case and be ready to run your application with [`strace`](https://wiki.ubuntu.com/Strace), etc.

Yes.

No, just the EUID that enough to open/write files.

[2020-04-11 14:16] #95 closed

[2020-04-11 14:25] erthink commented on #95
@oleg-kiriyenko, for source of the "error=22, try-exclusive" message take look to the [`lck-posix.c`](https://github.com/erthink/libmdbx/blob/c590eb656f51446cbbc28a842db071bd9e277a31/src/elements/lck-posix.c).

[2020-04-11 14:35] erthink commented on #95
@oleg-kiriyenko, in general `EINVAL` in the locking code is very-very strange. Seems that you are using custom kernel or custom libc.

Doest the `make check` succeed?

[2020-04-11 14:36] oleg-kiriyenko opened #97 "mdbx_env_open() error "Invalid argument" on WSL (Windows Subsystem for Linux)"
Ubuntu 18.04/clang-9

[code]

Got

[code]

But database files were created:

[code]

Corresponding part of strace output

[code]

[2020-04-11 14:47] erthink commented on #97
[code]

This is a valid `fcntl()` call if the kernel supports [OFD-lock](https://www.gnu.org/software/libc/manual/html_node/Open-File-Description-Locks.html) (3.15 and later).

Doest the `make check` succeed for libmdbx?

[2020-04-11 14:48] oleg-kiriyenko commented on #95
Yes, it is WSL. Windows Kernel emulating Linux kernel.

[2020-04-11 14:55] oleg-kiriyenko commented on #97
make check also fails with the same error

[code]

The problem is in WSL.

Simila things here

https://github.com/microsoft/WSL/issues/1927

[2020-04-11 15:01] erthink commented on #97
Oh, **WSL is mad and trouble full**.
You may try WSL2 (but I am no sure) or native Windows-build of libmdbx, but should strongly avoid using linux-verison of libmdbx with WSL.

For my part, I will try to add a check of WSL to prevent data loss.

[2020-04-11 15:05] erthink commented on #95
Copy & Paste from #97:

    Oh, WSL is mad and trouble full.
    You may try WSL2 (but I am no sure) or native Windows-build of libmdbx,
    but should strongly avoid using linux-verison of libmdbx with WSL.
    For my part, I will try to add a check of WSL to prevent data loss.

[2020-04-11 16:47] erthink commented on #97
@oleg-kiriyenko, could you clarify - does you using WSL or WSL2?

[2020-04-11 16:53] oleg-kiriyenko commented on #97
Simple WSL. As far as I know WSL2 uses virtual machine which is not my case.

[2020-04-11 18:05] erthink commented on #97
@oleg-kiriyenko, in fact you can use libmdbx on WSL with some restrictions:
   - build libmdbx with the [`MDBX_USE_OFDLOCKS=0` option](https://github.com/erthink/libmdbx/blob/c590eb656f51446cbbc28a842db071bd9e277a31/src/elements/options.h#L102-L113).
   - simultaneously open DB from the **one** process only.

[2020-04-13 11:35] oleg-kiriyenko opened #98 "[Windows] Extending database size and OOM"
The problem is with intensive writing into the database. When it's true two processes fail (killed?) (reader and writer). I think that I do not understand correcly how database is extended and OOM killer works.

1. Previous version (0.5) had  MDBX_MAP_RESIZED. But new version doesn't. How extending of database is handled now?
-------------------

2. Description of oom_killer function is not clear

[2020-04-13 12:03] erthink commented on #98
The `MDBX_MAP_RESIZED` was replaced with [`MDBX_UNABLE_EXTEND_MAPSIZE`](https://libmdbx.dqdkfa.ru/group__c__err.html#ggab5ba1469eef28a2e09ed243b608b11cea10c8033f7aeb8809747cc517dce311e0). This is reasonable even breaking source-level compatibility, since semantic of `MDBX_MAP_RESIZED` has been inherited from LMDB and obsolete a long time ago.

_libmdbx_ doesn't kill anything itself. The [MDBX_hsr_

[2020-04-13 14:39] oleg-kiriyenko commented on #98
1) And what is the difference between -1 and 0? How libmdbx will react to this codes?

2) If we report 1 does that mean that we somehow forced other process to release lock (maybe using some IPC)? liblmdx will not check anything and think that lock was released?

[2020-04-13 15:51] erthink commented on #98
Sometimes it's better to look at the source code: https://github.com/erthink/libmdbx/blob/abf38e97cce09f2fb6f62c1d0dcde301ff431137/src/elements/core.c#L16623-L16639

And some usage example:  https://github.com/erthink/libmdbx/blob/abf38e97cce09f2fb6f62c1d0dcde301ff431137/test/test.cc#L81-L100

I.e. if return code is...
   - `less than zero`: _libmdbx_ will exit from oom-handle loop and try to exte

[2020-04-17 13:31] erthink commented on #98
@oleg-kiriyenko, please close this issue if there are no more questions.

[2020-04-19 12:35] #98 closed

[2020-05-07 17:52] oleg-kiriyenko opened #99 "mdbx_put MDBX_DUPSORT causes mdbx_cassert"
mdbx_put to table openned with MDBX_DUPSORT causes assert error:

[code]

[code]

[code]

[2020-05-07 23:50] erthink commented on #99
There seems to be some bug(s) in your code.

If you apply the patch below to the [`mdbx_example.c`](https://github.com/erthink/libmdbx/blob/master/example/example-mdbx.c), you will get a minimal working analog of the code you have shown. It is easy to make sure that it works.

However, I would prefer to see your code to understand why assert was triggered rather than an error had returned. Perhaps

[2020-05-08 08:00] oleg-kiriyenko commented on #99
I have modified example trying to reproduce what we are actually doing in our project.
We have two tables: one without DUPSORT, another with DUPSORT. For simplicity in the example we add the same key but different values to those tables.  So the first table should contain only key-value (value will be last inserted). The second table will contain all values.

I have also removed some flags that we

[2020-05-08 19:42] erthink commented on #99
@oleg-kiriyenko, thanks for reporting.

This is a unusual case that not covered by tests for now:
 - a DUPSORT sub-database (i.e. multimap);
 - a more than one value for the particular key;
 - mdbx_put called to insert/update key-value that already present with exactly the same data.

Simplified in other words:
 - you have a multimap (DUPSORT sub-database) with the two or more key-value pairs like

[2020-05-09 08:38] #99 closed

[2020-05-09 19:41] oleg-kiriyenko opened #100 "Windows amalgamated source build fails"
When building from amalgamated sources on Windows get link errors:

[code]

After googling a little I found that the problem is with this line

[code]

May be order of inclusion have been changed?

version 0.7.0.2021 (9428efd2)

[2020-05-10 00:30] erthink commented on #100
Thanks for reporting.
Fix will be shortly.

[2020-05-10 09:33] oleg-kiriyenko commented on #100
Thank you.  Now build is OK.

[2020-05-10 09:33] #100 closed

[2020-05-10 20:27] RallyTronics opened #101 "VS2019 build/linking question (static lib)"
Can you tell me what else I need to link into my project to get it to build?

[code]
Thanks!

[2020-05-10 20:40] erthink commented on #101
Add linking with `ntdll.lib` or just use CMake.

[2020-05-10 20:42] RallyTronics commented on #101
-- ntdll.lib did the trick, cmake makes my brain hurt

[2020-05-10 20:42] #101 closed

[2020-05-13 17:23] RallyTronics opened #102 "How can I tell if a transaction has pending operations?"
How can I tell if a transaction has pending operations that would be committed if I were to call mdbx_txn_commit?

[2020-05-13 18:45] erthink commented on #102
1. Call the [`mdbx_txn_flags()`](https://libmdbx.dqdkfa.ru/group__c__transactions.html#gafd9f6bdac100c247889a79e35152ed39) and test the [`MDBX_TXN_DIRTY`](https://libmdbx.dqdkfa.ru/group__c__transactions.html#gga6ddf4a553ef12632520817465f53d0d6ad889b6c7028afed8f72e949f85c22a20) bit.
2. Use [`mdbx_dbi_flags_ex()`](https://libmdbx.dqdkfa.ru/group__c__statinfo.html#gaec553fcc6b62052840f60979bb30a576)

[2020-05-13 19:20] RallyTronics commented on #102
Thanks!

[2020-05-13 19:20] #102 closed

[2020-05-15 15:47] paul-go opened #103 "Can further information about MithrilDB be made public?"
Such as:
- Project goals
- Anticipated features
- Rough expectations for a timeline of release

Backstory: We are considering an eventual migration away from SQLite for a project we are working on. libmdbx looks like a strong contender. More specifics about the goals of MithrilDB would help the planning process.

[2020-05-16 09:55] azhmur opened #104 "IOarena issue: Why MDBX significally slower (2K RPS) in the "lazy" mode in comparison with LMDB (150K RPS)."
I have tried to reproduce some tests mentioned in ReadMe with ioarena and it looks kind of broken right now.
Environment: Ubuntu 18 LTS on Azure 16 GiB RAM.

1) get test fails for big operations count. (Out of Memory?)

[code]

2) set test in lazy mode seems doing a lot of fsync. giving numbers close 2k rps, while sync has 250 rps.

PS lmdb have same failure in first case, but works much better in

[2020-05-16 10:18] azhmur commented on #104
Get through first issue. It seems both lmdb and mdbx becomes poisoned with data from previous run in get test. So workaround is to run set tests completely and then run get test.

[2020-05-16 11:54] erthink commented on #104
1. _IOarena_ intentionally does not implement "clean startup" in order to be able to use the DB state after previous runs, and this is used in many benchmark scenarios. So, _"It's Not a Bug, It's a Feature"_ :)
2. In many cases LMDB and MDBX shows the same performance with differences mainly for four reasons:
   - `MDBX_LIFORECLAIM` may give significant (1.5-10 times) write-performance boost on sy

[2020-05-16 12:45] azhmur commented on #104
Thank you for clear explanations. I read through header about MDBX_SAFE_NOSYNC vs MDBX_UTTERLY_NOSYNC and still do not get why MDBX_SAFE_NOSYNC seems to be blocked by flashes. Documentation seems to be more focused on higher memory usage related to this mode.
Running 'ioarena -D mdbx -B set -n 10000' with '-m sync' or '-m lazy' gives same performance showing each of operations was waiting for flus

[2020-05-16 14:55] erthink commented on #104
@azhmur, Suggest you should (re)check your source, changes, script, config, etc.., and then (re)run the benchmark.

For instance my local test:
[code]

With the diff from IOarena master branch (`167a5e0318d425a714a53430d702c84081e9e2d1`):
[code]

[2020-05-17 12:21] azhmur commented on #104
Please forgive my ignorance. I was looking for some option in between of "we can write fast and loose everything" and "we syncing all writes and do it slowly". Like loose small amount of data, but not everything, while still having rather good update throughput. (fsync=off in WAL based systems) But it seems MDBX_SAFE_NOSYNC is close to MDBX_SAFE_SYNC in both performance and durability (at least on

[2020-05-17 12:21] #104 closed

[2020-05-17 14:40] erthink commented on #104
Some points for clarity (with simplification):

The page dirty/altering rate will be the same for all "sync"-modes. This is true for (almost?) any page-based database. I.e. when we make some update of data, we alter (aka make dirty) some pages inside database. Further we should ever write those pages to the disk. If we don't have/use WAL then we should write all dirty pages on every commit.

Both

[2020-05-21 22:46] snej commented on #90
I've fallen in love with Nim, so I might do this, if I give in to the temptation to rewrite my current C++ project in Nim.

[2020-05-21 22:53] snej opened #105 "Assertion failed: (data->iov_len == 0 && olddata.iov_len == 0), function mdbx_cursor_put, file mdbx, line 12084"
Just upgraded to the latest master branch (commit 78e592579a75b405cdaca26ee4d6f55afe29f39c) and my test suite hits an assertion failure:

`Assertion failed: (data->iov_len == 0 && olddata.iov_len == 0), function mdbx_cursor_put, file mdbx, line 12084`

Backtrace:
[code]

I can't tell what's going on because it's deep in mdbx code I don't understand. In my code that calls frame 7, the key and value

[2020-05-21 23:00] erthink commented on #90
But please wait while I will release C++ "bindings" for libmdbx.

[2020-05-21 23:02] erthink commented on #105
I will attend to it tomorrow.

[2020-05-21 23:56] snej commented on #105
I used git bisect to find where this started. 9428efd2ae9f7fe984422b5eb1fc47f732236b51, "avoid upsertion (early exit) the same key-value data", from 8 May, is the first commit where I have problems. It produces what looks like the identical assertion failure.

Interestingly, one of the later commits I tested (3afa4498fe619b6071ef2fe0da545fac5f2a2f60, from 10 May) failed differently: many of my tes

[2020-05-22 00:32] erthink commented on #105
The 9428efd also adds this 'paranoid' assertion while fixing #99, i.e. there is no error in this commit, but it adds the assertion which catch a previously unnoticed problem. However, the 3afa449 includes d986d09 which introduces extensive  checks for key/data sizes.

So I think there's one of two problems here:
   - likely: for some reason (need to investigate apart) your old databases do have so

[2020-05-22 13:50] erthink opened #106 "Support for KasperskyOS (an immune-based approach to information security)"
Vote here (and briefly describe your project) to extended support of true security by [Kaspersky OS](https://os.kaspersky.com).

[2020-05-22 14:42] signupsi commented on #106
i think adding RAFT support will be very good

[2020-05-22 15:00] erthink commented on #106
RAFT is inapplicable, at least until MDBX becomes a distributed key-value store.

[2020-05-22 16:34] erthink commented on #105
@snej, please provide addition info.
It would also be nice if you provide a test case reproducing the problem.

[2020-05-22 16:51] snej commented on #105
I went back to the master branch, rebuilt the database from scratch, and ran the tests ... which hit the same assertion failure.

mdbx_chk reports the database is corrupted:

[code]

Here's the database:
[travel-sample.zip](https://github.com/erthink/libmdbx/files/4669330/travel-sample.zip)

[2020-05-22 17:03] erthink commented on #105
Seem you are using custom comparators (comparison functions), therefore `mdbx_chk` should be called with `-i` option:

[code]

[2020-05-22 17:50] signupsi commented on #106
agree,
MDBX read performance is very good
added ability ( fault tolerant and  distributed )  will make it very successful
it can become reliable cache for large systems

[2020-05-22 17:56] signupsi commented on #106
i am very curious for MithrilDB. and waiting for the release.
added distributed capability would make it awesome.

[2020-05-22 17:57] snej commented on #105
Oh, right! Yes, with the `-i` flag it reports no errors here too.

I think I've found the source of the problem: at the time of the assertion,

**`olddata` is uninitialized garbage**. I looked at it in the debugger and it was pointing into the middle of one of my records. Since it isn't initialized in the function itself, I tried changing the declaration to `olddata = {}`. Now the test passes. I c

[2020-05-22 18:05] signupsi commented on #106
ideally i would envision MithrilDB as following in cluster

write-Endpoint-A1
read-endpoint-A1
read-endpoint-A2
read-endpoint-A3

write-Endpoint-B1
read-endpoint-B1
read-endpoint-B2
read-endpoint-B3

and offer availability with  replication and load balancing supported by raft or any other mechanism

[2020-05-22 18:21] snej commented on #105
So it looks like the prior call to `mdbx_cursor_set` was supposed to initialize `olddata` but didn't. I caught it in the act: it's returning out of this block, at line 11536:

[code]

(I caught this by initializing `old_data.iov_len` to -1 back in `mdbx_cursor_put`, and at the points where `mdbx_cursor_set` could return 0 I put a breakpoint that triggers if `data != NULL && data->iov_len == -1`. W

[2020-05-22 19:14] #105 closed

[2020-05-23 03:37] jserv opened #107 "Provide LMDB API compatibility header"
Since there are various applications using LMDB, it would be great if libmdbx can provide LMDB API compatibility headers to ease porting efforts.

[2020-05-25 11:05] erthink commented on #107
Such header couldn't be implemented in 100% right way since cursors and dbi-handles have different lifetime in MDBX. At first sight these are small differences, but they can lead to memory leaks or difficult-to-detect errors.

Thus, such header will be a false premise about compatibility. This circumstance was also the reason for the original decision to make MDBX API incompatible with LMDB.

On t

[2020-05-26 20:15] snej opened #108 "Use `enum` instead of #define for flags/modes?"
Tools that generate language bindings (such as c2nim) would do a better job if groups of related constants were declared as an `enum` in mdbx.h, instead of as a series of `#defines`. IMHO it would also make the C header more readable.

(A couple of things like `MDBX_cursor_op` and `MDBX_page_type_t` are already defined this way.)

I know C enums have a few problems. When they're ORed or ANDed toge

[2020-05-28 00:49] erthink commented on #104
Some reference records on my old notebook:
[code]

[2020-05-28 02:35] RallyTronics opened #109 "Is there an example showing the use of MDBX_FIRST_DUP, MDBX_NEXT_DUP, MDBX_LAST_DUP?"
Is there an example showing these cursor operations?

If I call mdbx_cursor_get(..., MDBX_LAST_DUP) is the data available? or do I have to call mdbx_cursor_get(..., MDBX_GET_CURRENT) afterwords before the data is valid?

In other words do the MBDX_xxx_DUP operations return key/data?

[2020-05-28 10:54] erthink commented on #109
The set of these operations historically comes from Berkeley DB API.
So, you can refer to most of Berkeley DB examples and [API description](https://web.stanford.edu/class/cs276a/projects/docs/berkeleydb/ref/am_conf/dup.html).

There are no corresponding examples for MDBX, as well as any tutorial, since I do not have the resources (free time) to create and maintain them. However, I will be happy t

[2020-05-28 11:51] RallyTronics commented on #109
I will try to go through all of the comments in mdbx.h over the next week or so and add clarification, correct spelling, etc.  I will leave this open for when I need to ask more questions as I go through it.

[2020-05-28 16:53] #107 closed

[2020-05-28 22:15] snej commented on #105
Thanks for the fix. I verified that it makes my problem go away.

[2020-06-01 18:07] RallyTronics commented on #109
I am new to this sort of database and don't yet have a good handle on transactions.   I understand that there can be only 1 transaction active per thread.  Does this infer that there is only 1 transaction active per environment in an application?

[2020-06-01 18:25] erthink commented on #109
1. No more than one write-transaction at the same time per environment. I.e. write transactions are strongly serialized in MDBX.

2. Abilities of read-transactions depends of the `MDBX_NOTLS` option:
   - **Without** `MDBX_NOTLS` option (transactions are tied to threads): No more than one read-transaction at the same time per thread. This is recommended.
   - **With** `MDBX_NOTLS` option (transact

[2020-06-03 15:23] RallyTronics commented on #109
In the MDBX_cursor_op enum:

`MDBX_GET_BOTH_RANGE, /* MDBX_DUPSORT-only: position at key, nearest data. */`

What is the definition of _nearest data_?

[2020-06-03 18:46] RallyTronics commented on #109
What happens if you call mbdx_del and pass a nullptr for the data parameter if the database was created with the MDBX_DUPSORT flag?  Will it delete all records with the given key?

[2020-06-03 19:19] snej opened #110 "Docs: Does mdbx_cursor_put only allow one flag bit?"
According to the doc-comments,`mdbx_cursor_put` allows only one flag to be used, while `mdbx_put` and `mdbx_replace` allow multiple flags. Is this correct?

For `mdbx_put`:

    ##  [in] flags      Special options for this operation. This parameter must be
    ##                  set to 0 or by bitwise OR'ing together one or more of the
    ##                  values described here.

For `mdbx_rep

[2020-06-04 09:28] erthink commented on #110
Thanks for reporting, I will fix this flaw in API description.

[2020-06-04 09:49] erthink commented on #109
This flaw originated at the LMDB API description.
In this and other similar cases means a "lower_bound" partitioning, i.e. position at given key and at first data greater than or equal to specified data.

[2020-06-04 10:00] erthink commented on #109
Yes, if `data` is `NULL` then all records with the given key will be deleted.

[2020-06-04 10:09] erthink commented on #109
@RallyTronics, thanks for reporting. Now these inaccuracies are corrected.

[2020-06-04 14:38] #110 closed

[2020-06-12 03:18] RossComputerGuy opened #111 "Unknown CMake command "check_cxx_compiler_flag""
I tried adding libmdbx to my OS's builder (https://github.com/ExpidusOS/builder):

[code]

[2020-06-12 08:55] erthink commented on #111
Thanks for reporting, will fixed shortly.

[2020-06-12 08:58] #111 closed

[2020-06-19 11:32] erthink opened #112 "Need invitation to lobste.rs"
Сould anyone give me invitation to [lobste.rs](https://lobste.rs/)?
As the developer of _libmdbx_, I want to respond to the @myfreeweb's [comment](https://lobste.rs/s/xt82a0/performance_avoid_sqlite_your_next#c_lqxjxi).

[2020-06-19 11:37] myfreeweb commented on #112
Sure :)

[2020-06-19 11:45] erthink commented on #112
Thanks!

[2020-06-19 11:45] #112 closed

[2020-06-19 13:26] erthink commented on #112
Added comment(s):
 - https://lobste.rs/s/xt82a0/performance_avoid_sqlite_your_next#c_75g4lf

[2020-06-27 09:58] Kerollmops opened #113 "Support OS managed temporary database"
Hey!

Do you think it could be possible for libmdbx to be able to use a temporary file managed by the OS? Without a folder (already supported) and no lock file (already supported) but the most important: constructed from a file descriptor instead of a path.

There is plenty of advantages of being able to initialize and use an environement from a raw file descriptor, for example, it allows users to

[2020-07-02 18:07] erthink commented on #113
I apologize for the delay in answering, I was busy.

First we need to clarify the details:
  - "without a folder" is mostly cosmetics feature, i.e. related only to a "decoration" of a files paths.
  - "without a lock file" means the "read-only access from the single process", i.e. this is very different from the naive (alas, and most likely) assumption without knowing the details.

In the continua

[2020-07-02 18:42] erthink commented on #113
This is quite difficult to implement while preserving all the features of _libmdbx_.
In addition, (as it seems to me) these are quite rare scenarios, for most of which it is now quite simple to implement (without _libmdbx_ & without reinvent the wheel) via boost::interprocess, i.e. offset_ptr + intrusive containers and/old allocators in a shared memory.

So, for systems without the `tmpfs` support

[2020-07-08 11:06] Kerollmops commented on #113
I think I understand that there is some downsides to make this available in mdbx.

I will give you just a little bit of context, I am working on a brand new search engine that I will shortly integrate into MeiliSearch. This search engine must index the documents the users sends, and as the new CPUs these days aren’t much more faster than the previous years they expose more cores, so, I implemented

[2020-07-23 10:07] #108 closed

[2020-07-23 19:27] snej commented on #108
Wow, you even added operator overloads for C++! ✔️ 🏆 💯

[2020-07-29 14:29] hyc commented on #113
If you want the file to go away on a crash, and don't need multiprocess access, you can simply delete the file after opening it. This works on all POSIX systems, anyway; won't work on Windows.

[2020-07-29 14:34] hyc commented on #109
It is the same meaning as documented in the SET_RANGE operation

[2020-08-11 16:21] snej commented on #92
FYI, Apple just notified me that they've fixed the bug I reported. `<sys/vmmeter.h>` is present in the iOS 14 SDK (part of Xcode 12.)

[2020-08-19 23:12] erthink commented on #90
@snej, please take look at [C++ API](https://github.com/erthink/libmdbx/blob/6eb816642bb355357e0a8194d3b471ca3d4573f0/mdbx.h%2B%2B) (draft) and join the discussion in the https://t.me/libmdbx.

[2020-08-20 09:39] erthink commented on #68
Obsolete.

[2020-08-20 09:39] #68 closed

[2020-08-20 20:29] erthink opened #114 "Native libmdbx C++ API binding for Rust via cxx library"
https://github.com/dtolnay/cxx

[2020-09-06 21:14] erthink opened #115 "Support MessagePack for Keys & Values (just a comparison function)"
Actually only a comparison function for arbitrary [msgpack](https://msgpack.org/) messages is required.

[2020-09-07 12:44] erthink opened #116 "MSVC 19.27.29111.0 hangs at AppVeyor during generating code for a release builds"
There is a problem with building the library using MSVC-2019.
At least MSVC 19.27.29111.0 hangs at AppVeyor during generating code for a release builds (i.e. when optimization enabled).

Seem this is an internal MSVC-2019 bug, but I couldn't reproduce it locally to submit a bug report.

Corresponding AppVeyor' [ticket/discussion](https://help.appveyor.com/discussions/problems/28138-msvc-2019-hand-

[2020-09-07 19:22] erthink commented on #116
Feodor Fitsner from AppVeyor' support advised to use RDP to watch the build.

And using RDP, I managed to make sure that this is an MSVC-2019 problem.
The linker just hang in a busy loop, consuming an one CPU core.

Strange that I couldn't reproduce the problem locally.

[2020-09-13 19:46] erthink commented on #116
link.exe hangs:
[code]

[2020-09-13 19:56] erthink commented on #116
Successful Case
==========

Configure log with builtin cmake+ninja:
[code]

Build log:
[code]

[2020-09-13 22:39] erthink commented on #116
Oh, I'm done digging through this: the `/Ob2` optimization option leads to hangs the M$ linker (link-time optimization is enabled).

[2020-09-14 10:06] erthink commented on #116
Resolved by workaround (using `RelWithDebiInfo` configuration for testing instead of `Release`).

[2020-09-14 10:06] #116 closed

[2020-09-15 13:55] plq commented on #115
Why doesn't ``memcmp()`` work? What exactly do you need?

[2020-09-15 17:12] erthink commented on #115
MsgPack is (mostly) self-described data format.
Therefore, the comparison function for arbitrary msgpack messages allows you to compare many data types with due account it's semantics, including tuples.

[2020-09-22 16:53] jsoref commented on #87
In the interim, you could try feeding either document to https://app.grammarly.com/ -- I do that occasionally. It won't result in a perfect document, but it will on average significantly improve things.

[2020-10-05 19:12] erthink commented on #109
@RallyTronics, please see [`mdbx::move_operation`](https://github.com/erthink/libmdbx/blob/devel/mdbx.h%2B%2B#L2513-L2533) from the new [C++ API](https://erthink.github.io/libmdbx/mdbx_8h_09_09.html).

[2020-10-05 19:12] #109 closed

[2020-10-08 15:07] erthink commented on #113
@Kerollmops, could you clarify by choosing one of:

1. The solution suggested by Howard is suitable for you, and this issue could be closed.
2.  Otherwise, the file deletion hack is not suitable and you stiil need something like
`int mdbx_env_open_via_handles(env, flags, int dxb_lazy_handle, int dxb_sync_handle, int lck_handle);`

?

[2020-10-08 15:14] Kerollmops commented on #113
Second solution would be better as it would let users choose the way files are created and how.

However I didn't choose any of the solutions above as I [used another key-value store](https://github.com/Kerollmops/oxidized-mtbl) (more of an sorted string table format) that I am able to merge and eventually write (with `append`) into LMDB.

[2020-10-08 15:33] erthink commented on #113
OK, then I will close this issue and try to spend more time on MithrilDB, where there will be more features:

1. Support for temporary databases that are accessible from a single process and disappear when closed.

2. Support for temporary databases that are accessible from multiple processes and disappear on rebooted or explicitly deleted.

3. Support for placing database in a custom (user-provid

[2020-10-08 15:33] #113 closed

[2020-10-08 20:24] Kerollmops commented on #113
Wow that is awasome, so much interresting features!

Does it mean that it would be possible to open and store a database from a `Vec<u8>` or any `void*` for example?

[2020-10-08 20:43] erthink commented on #113
Yes, but these should be page-aligned and fairly large (a few dozen pages) regions of shared memory, with sync-to-disk interface. I.e. not just a `Vec<u8>`.

[2020-10-08 20:47] erthink commented on #113
For micro-DB (i.e. inside a `Vec<u8>`) you should take look to the [libfptu](https://github.com/PositiveTechnologies/libfptu).

[2020-10-09 09:44] Kerollmops opened #119 "Designing a user-end locking API"
Hi,

I am currently looking at the `NO_LOCK` flag of LMDB/libmdbx, and I opened an issue about that, could you take a quick look at it, please? It would be really helpful to me.

https://github.com/Kerollmops/heed/issues/58

[2020-10-09 09:55] erthink commented on #119
Well, I'll look at it now, but it's better to ask such questions in the telegram group https://t.me/libmdbx.

[2020-10-09 10:36] erthink commented on #119
As I already wrote, I will try to implement the `mdbx_env_delete()` function today.

[2020-10-09 21:29] #119 closed

[2020-10-14 14:47] ddorian opened #120 "lmdb WAL implementation"
Just so you're aware of this repo https://github.com/kellabyte/rewind

Not a feature request.

[2020-10-15 11:22] erthink opened #121 "mdbx_cursor_get(NEXT/PREV) may fail with MDBX_DB_CORRUPTED after mdbx_cursor_del(MDBX_CURRENT)"
This seems to be another bug inherited from LMDB.
The difference is that libmdbx returns an error, whereas LMDB crashes, returns invalid data, or damages the database.

Thanks @AskAlexSharov for reporting.

[2020-10-15 11:44] AskAlexSharov commented on #121
Everything I know about this bug is:
- it happens on DupSort bucket
- it happens in loops like:
[code]
and method Next sometimes returns DB_CORRUPTION
- LMDB did crush with:
[code]
You can see this line here: https://github.com/ledgerwatch/lmdb-go/blob/master/lmdb/mdb.c

[2020-10-15 15:41] erthink commented on #120
It is a naive PoC that works in an extremely limited number of cases, and fails it all other.
It cannot be used as a basis for full-fledged implementation, especially for ensuring data durability.
Simply put, it is some kind of nonsense.

[2020-10-16 11:44] AskAlexSharov opened #123 "LifoReclaim causing MDBX_TXN_FULL"
Having db with large GC 91072045 pages - GC DBI has 105 entities (I did it intentionally for testing):
Did try to make update of 2000 keys (small values).
Got "MDBX_TXN_FULL Transaction has too many dirty pages, i.e transaction is too big" with next txn_info:
{Id:9604 ReadLag:0 SpaceUsed:687662821376 SpaceLimitSoft:687721144320 SpaceLimitHard:2199023255552 SpaceRetired:4337664 SpaceLeftover:171754

[2020-10-16 11:54] erthink commented on #123
I think I understood the reason and will fix this flaw immediately after the bug https://github.com/erthink/libmdbx/issues/121.

[2020-10-21 01:24] erthink opened #124 "Support for RAW devices"
This was done and then discarded enough time ago.
It may be worth returning the implementation if someone needs it.

--
FYI, @dyusupov.
The train is long gone, but I'll be happy to keep you posted.

[2020-10-21 20:29] hyc commented on #121
Thanks for the ping. Corresponding patch for LMDB is here https://git.openldap.org/openldap/openldap/-/merge_requests/193 but if you have sample code to reproduce the failure, would be nice to see it.

[2020-10-22 13:33] #121 closed

[2020-10-22 15:30] erthink commented on #123
Эта доработка функционально аналогична вашему патчу для ускорения выделения больших пачек мульти-страниц.
Только вместо заданного здесь [порога](https://github.com/erthink/libmdbx/commit/55d190bad9723fd9766466005b1a14e70779fc89#diff-fb5d19f8f1d70c287f3d5682180afe1805a186fb126fec004524f3c530ca6059R5267), вам стоит поставить подходящее вам (меньшее) значение.

На днях я добавлю поддержку установки о

[2020-10-23 07:35] AskAlexSharov opened #126 "Crash on APPENDDUP"
[backtrace.log](https://github.com/erthink/libmdbx/files/5427953/backtrace.log)
Oops, it's with `-O2`, will create one with `-O0` in 2-3 hours.

[2020-10-23 09:38] erthink commented on #126
`-Og` is enough in most cases but runs much faster.

Nonetheless, current backtrace is enough.
More precisely, it is already clear that backtrace will not help, since the problem happened earlier, i.e. I need to look for a way to reproduce bug through simple tests.

[2020-10-23 09:58] erthink commented on #126
Hypothetically, we can try enabling internal audit.
But in your scenarios (and volumes), it may take weeks for the test to reach the bug.

If you have a persistent dataset and a reproducible sequence of operations, we can use an audit-enabled build, but turn audit on immediately before the transaction in which error occurs.

However, it is desirable for me to have a lean testcase based on the curr

[2020-10-23 15:26] AskAlexSharov commented on #126
mdbx_chk didn't find errors that db. loading of very similar (but not totally same) data to empty db - passed successfully. will collect full dataset tonight, then will try to reduce it.

[2020-10-23 15:32] erthink commented on #126
This is the expected behavior because an erroneous transaction was not committed (cannot be committed).

[2020-10-24 01:39] AskAlexSharov commented on #126
here data set 14Gb (42Gb): http://188.166.233.190/alex_full.log.gz
smaller data sets don't reproduce problem

[2020-10-24 06:32] AskAlexSharov commented on #126
FYI: Something more broken in last devel (just did git pull), 1 test in our project failed - but test is complex and i didn’t understand yet what’s wrong (it looks like cursor returned too short value - shorter than anything i put to DBI. But not 100% sure yet).

[2020-10-26 02:40] AskAlexSharov commented on #126
On today's `devel` my test passed

[2020-10-26 14:30] erthink commented on #126
I still don't know if there was a problem/error, what caused it, or if anything was fixed.
So I'll continue working with the tests and your test data.

[2020-10-26 23:05] erthink commented on #126
Некоторые методы и результаты проверок (кроме доработок и прогона mdbx_test):

1. Ваши "логи" я преобразовал в текстовый дамп BerkeleyDB, формат которого исторически используется в mdbx_dump и mdbx_load.

[code]
[code]

2. Этот дамп я загрузил в новую БД посредством `mdbx_load`.
Технически при этом используются аналогичные вашим операции добавления данных через курсор.
[code]

3. После этого получ

[2020-10-27 01:20] erthink commented on #126
So, I didn't found trouble at commits: faddc71eace1088f077a022a235cd097ef0c21c2, ca2ecf2289d8d2e60016b1d349f62eff537e76b6, 2120e396fcb93190bf8b10f51780b1574b18ae2f, 112ce742f501ee31190fda1060b6356f437fcef3, etc (afa264b6, 44b1a3bc).

However, there is space for human error.
So, feed me the commit where you had problems, if there is such information.

[2020-10-27 05:40] AskAlexSharov commented on #126
Thank, very useful guide on how to get and share mdbx dumps. Only problem - i can't use mdbx_dump if APPEND_DUP returned error (because last key - where error happened - not written into db).

Let me run again that script which failed on last devel (next time I will add commit hash into messages): faddc71eace1088f077a022a235cd097ef0c21c2

[2020-10-27 09:15] AskAlexSharov commented on #126
Reproduced on faddc71 problem with MDBX_CORRUPTED after APPEND_DUP (of that data which I sent you into DB which was not empty, but DBI was empty):
Do I need send you full dump of db?

[2020-10-27 13:32] erthink commented on #126
I need a way to reproduce the problem.
So in general "yes", I would prefer to get a specific DB in its entirety (not just a dump), if this will reproduce the problem.

[2020-10-28 20:25] erthink opened #127 "test framework: key/value generator can produce duplicates"
After the last modifications of the generator of keys/values with a small probability to generate duplicates.
The problem is caused by an bug in the algorithm when implementing the requirements for generating pseudo-random keys of minimum (including zero) length.

This bug does not affect the product quality of libmdbx, but it must be fixed for the tests to work reliably.

[2020-10-29 00:57] erthink commented on #126
Please, let us and you deal with the problem, even if it requires some effort.

[2020-10-29 02:32] AskAlexSharov commented on #126
yes, i'm working on sharing that db file... (I broken my VPN setup, re-creating it now).

[2020-10-30 04:37] AskAlexSharov commented on #126
Good news: i've succeed to reproduce problem without original DB (only on `alex_full.log`).

To do so:
- put data only by APPENDDUP (without APPEND)
⁃ don't do intermediate commits (only 1 commit at the end, but script stops earlier).

mdbx_load - does intermediate commits and can't reproduce (when I do intermediate commits - problem also doesn't reproduce).

[2020-10-30 14:23] AskAlexSharov commented on #123
i started. test will take 2-3 days.

[2020-10-30 14:37] erthink opened #128 "Provide mdbx_env_set/get_option()"
Provide the set/get functions for a various options at runtime:
- the maximum number of named databases for the environment;
- the maximum number of threads/reader slots;
- threshold (since the last unsteady commit) to force flush the data buffers to disk;
- relative period (since the last unsteady commit) to force flush the data buffers to disk;
- limit to grow a list of reclaimed/recycled page's

[2020-10-30 15:00] erthink commented on #123
I assume that your test will be successful.
But it is need to define a reasonable threshold value (the size of the page list for suspending GC usage) for your scenarios.
The value of this threshold can be set at runtime after implementation https://github.com/erthink/libmdbx/issues/128.
- If the threshold is high, the search for large linear sections (for overflow pages) will be proportionally slo

[2020-10-30 16:15] AskAlexSharov commented on #123
Yes, it must be bigger than most of values in db. In our case i expecting threshold 1-10Mb

[2020-10-31 00:09] #126 closed

[2020-10-31 02:15] AskAlexSharov opened #129 "UNCONFIRMED: If Drop and Create DBI with same name within 1 transaction, keys will not disappear"
Still see `Entries: 8893` after successful Drop and Create DBI with same name within 1 transaction.

[2020-10-31 02:50] erthink commented on #129
Checked just now, not confirmed.

[2020-10-31 03:55] AskAlexSharov commented on #129
ouch. yes, i confused.

[2020-10-31 03:55] #129 closed

[2020-10-31 04:32] AskAlexSharov opened #130 "MDBX_GET_BOTH_RANGE behave different from LMDB"
test case:
[code]

This is error which I described few days ago as "looks like DBI returning to me keys which I didn't put there" - so, it returns key which I didn't put there but passing to GetBothRange.

Compatibility is not critical for me (if it's known) - but returning non-existing key seems a bug.

[2020-10-31 14:51] erthink commented on #130
Confirmed.

[2020-10-31 18:05] erthink commented on #130
@AskAlexSharov, thank for reporting.

[2020-11-01 02:25] #130 closed

[2020-11-01 03:32] AskAlexSharov opened #131 "mdbx_txn_commit_ex: MDBX_KEYEXIST: Key/data pair already exists"
It's a bit unclear for me - what I can do with MDBX_KEYEXIST inside mdbx_txn_commit_ex
last master: 21d2af9e902ba6e3220651996754427ff9ac361d
do you need some additional info?

[2020-11-01 10:11] erthink commented on #131
Hm, I fixed (3fd079262cdc79f302d3b16df30969516174f85b) a similar problem a week ago.
To understand what was going on, I had to add additional logging and run tests on cluster for a weeks.

Anyway I need to understand how you managed to provoke this problem.
It is very likely that will also have to enable additional logging with a special patch.

[2020-11-01 11:44] erthink commented on #131
Currently I assume this is a regression since 55d190bad9723fd9766466005b1a14e70779fc89 and 70241e25db0efd7d42a8fb8af2ab552b59e92cc1 for https://github.com/erthink/libmdbx/issues/123.
I.e the problem only affects your extreme use cases and does not appear in others.
If so, it will be easier to fix the problem, although I still need to think about how to do it without new regressions.

[2020-11-01 12:15] AskAlexSharov commented on #131
For now it happened 2 times: 1 time on small transaction, 1 time on big one.
Env had Lifo flag and small freelist (I didn't test without Lifo flag).
And doesn't reproduce anymore. Let's see if it will reproduce during night tests.

[2020-11-01 12:53] erthink commented on #131
In a few hours (as soon as I get to the computer) I will provide you a patch with additional logging.

It will be great if you add code to collect these logs. This log can be stored in memory, cleared at the start of each transaction, and saved only when an error occurs.

[2020-11-01 13:48] AskAlexSharov commented on #131
ok, i have way to reproduce it: by dropping DBI.
logs - no problem to add.

[2020-11-01 15:06] erthink commented on #131
[logging-update-gc.patch](https://gist.github.com/erthink/8f5eba3633ffe35e67f84a75361b0ecb)

Don't forget to set your logger via [mdbx_setup_debug()](https://github.com/erthink/libmdbx/blob/21d2af9e902ba6e3220651996754427ff9ac361d/mdbx.h#L822-L827).

[2020-11-02 02:45] AskAlexSharov commented on #131
[1.log](https://github.com/erthink/libmdbx/files/5472511/1.log)

[2020-11-02 04:03] AskAlexSharov commented on #131
[1.log](https://github.com/erthink/libmdbx/files/5472728/1.log)

[2020-11-02 04:08] AskAlexSharov commented on #131
[1.trace.log](https://github.com/erthink/libmdbx/files/5472753/1.trace.log)

[1.trace.log](https://github.com/erthink/libmdbx/files/5472752/1.trace.log)

[1.extra.log](https://github.com/erthink/libmdbx/files/5472750/1.extra.log)

[2020-11-02 12:08] erthink commented on #131
С логами пара проблем:
1. Вы использовали отладочную сборку, в которой логирование включено для всего объема кода. Из-за этого логи получились огромными.
2. В использованной отладочной сборке вы также включили внутренний аудит, и судя по логам это выявило расхождение в кол-ве используемых и выделенных страниц БД. Грубо говоря, аудит посчитал что выявил потерю страниц (нигде не учтенные страницы) и

[2020-11-02 13:23] AskAlexSharov commented on #131
Перестарался. Вот что осталось:
[code]

[2020-11-02 13:28] AskAlexSharov commented on #131
А, нет, вот:
[code]

[2020-11-02 14:01] erthink commented on #131
1. У меня получилось воспроизвести вторичную проблему с аудитом (`MDBX_PROBLEM` при коммите) в тестах на больших транзакциях. Это очень похоже на регресс наведенный какими-то последними правками. Сейчас разбираюсь и (предположительно) сегодня поправлю.
2. Чтобы получить лог для устранения исходной проблемы (`MDBX_KEYEXIST`  при коммите) _НУЖНО_ приложить [патч](https://gist.github.com/erthink/8f5e

[2020-11-02 14:41] AskAlexSharov commented on #131
[Uploading mdbx_update_gc.log…]()

[2020-11-02 14:42] AskAlexSharov commented on #131
[mdbx_update_gc.log](https://github.com/erthink/libmdbx/files/5475745/mdbx_update_gc.log)

[2020-11-02 15:09] erthink commented on #131
Похоже обе проблемы являются регрессом после https://github.com/erthink/libmdbx/issues/121.

[2020-11-02 19:29] erthink commented on #131
@AskAlexSharov, предположительно проблема связана с трекингом курсоров - когда для одного DBI открыто несколько курсоров, и удаления/вставки, выполняемые через один курсор, должны отображаться на состояние остальных. Под состоянием курсора тут понимается не только "флажки", но и стек страниц дереве с позициями в них.

Похоже что это еще одна унаследованная из LMDB ошибка, которая не проявлялась до

[2020-11-03 01:48] AskAlexSharov commented on #131
Great. If it’s clearly inherited problem, share to Howard your reaults please.

[2020-11-03 05:11] AskAlexSharov opened #132 "High percentile of cursor.put show that some calls are very slow"
We have next piece of code in app to update DupSort DBI:
[code]

I built prometheus dashboard for latency of this code:
- 0.5 percentile show very similar speed of lmdb and mdbx - ~1microsecond
- 0.75 percentile show - ~2microseconds vs ~3microseconds
- 0.99 percentile shows - ~200microseconds vs ~2milliseconds

<img width="1162" alt="Screen Shot 2020-11-03 at 11 53 37" src="https://user-images.gi

[2020-11-03 05:36] AskAlexSharov opened #133 "Drop DBI: find way to not return MDBX_TXN_FULL"
Reasoning:
- DB can do Drop more efficient than App. App only can loop over `cursor.First(); cursor.Delete();` and periodically commit.
- DB knows better how manage freelist during Drop DBI - it can break freelist to multiple records, can defrag it, etc...
- DB can maximize IO utilization.
- If drop of DBI causing too many dirty pages - DB can do something with it (spill?)

This issue is not very

[2020-11-03 08:42] AskAlexSharov opened #134 "commit_ex latencies: most of time is not attributed"
Example from Mac:
[code]

Example from Linux (HDD):
[code]

FYI: we also observing slow commits (minutes) on Mac in LMDB. And trying to understand the reason.

[2020-11-03 11:04] AskAlexSharov commented on #131
Faced new (probably with same root-cause problem) on master 21d2af9e902ba6e3220651996754427ff9ac361d :
code like
[code]
returns error `MDBX_EKEYMISMATCH: The given key value is mismatched to the current cursor position`
I wonder if cursor must be in "some position" for AppendDup.

[2020-11-03 11:20] erthink commented on #132
Are you sure you disabled [assertions](https://en.wikipedia.org/wiki/Assert.h) by `- DNDEBUG` while building libmdbx?

[2020-11-03 11:35] erthink commented on #133
The `mdbx_drop()` will be the best way after https://github.com/erthink/libmdbx/issues/128.

[2020-11-03 12:20] erthink commented on #134
The `write=0s` looks suspicious.

But I don't have ideas yet, since the code for latency measuring is quite simple, and the conversion of the time representation has been tested.

[2020-11-03 13:16] erthink commented on #131
This is  just a one/common message for error returned in similar cases, i.e. when the key/data don't match the cursor (virtual or implied) position:
- `MDBX_APPENDDUP` = data value must be great than any present duplicate/multivalue for the specified key.
- `MDBX_APPEND` =  key value must be great (or equal for DUPSORT-database) than any key of DBI/sub-database, but no restriction for data value (

[2020-11-03 14:06] AskAlexSharov commented on #132
Yes, i using default Gnumake (which i get after make dist) to build mdbx. And i saw today that -NDEBUG=1 is used for building.

But i have small piece of C code to help with Go bindings - which i building by this flags: https://github.com/ledgerwatch/turbo-geth/blob/1b4f721a614a7628d85e2e24e782e2d07aab9bf8/ethdb/mdbx/mdbx.go#L136

And then link with libmdbx.a - but i’m not sure that linking flags

[2020-11-03 15:09] AskAlexSharov commented on #133
good

[2020-11-03 15:09] #133 closed

[2020-11-03 15:26] erthink commented on #132
1. The `CFLAGS` for bindings seem boilerplate (i.e. no problem), but I would prefer to add `-DNDEBUG=1` to a release builds for sameness/uniformity.
2. The ["Quick reference for Insert/Update/Delete operations"](https://erthink.github.io/libmdbx/group__c__crud.html#c_crud_hints) may be useful.
I.e. you may use one call to update instead of by two.
3. With a dynamic database size, there can be larg

[2020-11-03 15:28] AskAlexSharov commented on #134
ha, ha, ha. `The write=0s looks suspicious.` - yes, it's bug on my side, will post here new timings tomorrow.

[2020-11-03 15:30] AskAlexSharov commented on #131
"Are you sure that in your case the values for each key are added in ascending order?" - you are right. I just get used to another error of LMDB in this case. Nevermind then.

[2020-11-03 16:03] erthink commented on #131
Пока хороших новостей нет:
 - Проблема НЕ проявляется с пробными/черновыми исправлениями, однако повторно воспроизвести её и БЕЗ исправлений также НЕ получилось.
- Т.е. в тестах проблема воспроизводится при каком-то достаточно редком стечении обстоятельств, которые пока не удалось выявить и/или формализовать.

[2020-11-03 16:04] AskAlexSharov commented on #132
Thank much.
2. In that place of my app - only way to avoid 2 operations - is using custom comparator. maybe need introduce it here, but historically we don't.
3. I can set growth step to 100Gb and re-test.
4. Don't know if I told you or not - we use MDBX_NORDAHEAD by default - we have this flag from first day of LMDB benchmarks.
5. Interesting.
6. For testing purpose I can make transactions smalle

[2020-11-03 16:09] erthink commented on #131
@AskAlexSharov, если у вас есть более-менее стабильный сценарий воспроизведения, то желательно чтобы вы попробовали ветку [`fix-31`](https://github.com/erthink/libmdbx/tree/fix-131).

[2020-11-04 05:23] AskAlexSharov commented on #131
Нет, проблема c audit не воспроизводится на master/fix-131/debug-gc-update

[2020-11-04 05:27] AskAlexSharov commented on #134
Linux:
[code]

Mac:
[code]

[2020-11-04 05:27] #134 closed

[2020-11-06 11:44] erthink commented on #132
This is maybe not good for libmdbx.
Without `MDBX_NORDAHEAD` libmdbx will automatically enable/disable readahead depending of DB size and available RAM.
Therefore, I would prefer that you do not use `MDBX_NORDAHEAD` to evaluate the effectiveness of libmdbx automation.

[2020-11-06 12:45] AskAlexSharov commented on #132
Ok, let me run some tests without this flag.

[2020-11-13 13:34] AskAlexSharov opened #135 "mdbx_txn_begin: 2nd write transaction without MDBX_TXN_TRY flag - returns error instead of block"
Error:
[code]

Env opened without flags.
Transactions have only MDBX_TXN_READWRITE flag.

As I understand - this error must be returned only if MDBX_TXN_TRY flag passed.

[2020-11-13 13:59] erthink commented on #135
You seem to be calling "mdbx_txn_begin ()" from the same thread that is already running the write transaction.
In this case you will get the `MDBX_BUSY` error, or deadlock on a mutex otherwise.

[2020-11-13 14:12] AskAlexSharov commented on #135
yes, then make sense.

[2020-11-13 14:12] #135 closed

[2020-11-15 03:09] setop opened #136 "mdbx_load fails with MDBX_MAP_FULL: Environment mapsize limit reached"
**Steps to reproduce the bug**

1.  `wget https://github.com/erthink/libmdbx/releases/download/v0.9.1/libmdbx-amalgamated-0.9.1.tar.gz`
1. `tar xvfz libmdbx-amalgamated-0.9.1.tar.gz`
1. `make`
1. prepare 5'000 key,value in two text files of 5'000 lines each, about 2*300KB of data ([t1.txt](https://github.com/erthink/libmdbx/files/5541780/t1.txt), [t2.txt](https://github.com/erthink/libmdbx/files/5

[2020-11-15 03:10] setop commented on #136
here are the two input files

* [t1.txt](https://github.com/erthink/libmdbx/files/5541780/t1.txt)
* [t2.txt](https://github.com/erthink/libmdbx/files/5541781/t2.txt)

[2020-11-15 04:34] erthink commented on #136
Thank for reporting.

This is a bug.
In case data loaded into not a named sub-database (i.e. without `-s name` option), but into the "main" (unnamed) key-value space.
Will fixed soon.

Briefly: Please submit a PR if you need this feature.

More detailed:
 - `mdbx_load` is an auxiliary utility, mainly for transferring data from LMDB and BDB, as well as restoring from backups (that's why the bug you

[2020-11-15 05:29] #136 closed

[2020-11-15 12:56] erthink commented on #131
Текущее состояние дел:
1. После однократного воспроизведения проблему повторить не удалось. При этом тест был повторен на различных машинах суммарно порядка 10000 раз, с фиксированным random-seed как при однократном воспроизведении.
2. Доработку тестов и связанные с этим исправления я почти завершил и сегодня-завтра пролью эти правки (после завершения тестов и рефакторинга).
3. Доработанные тесты

[2020-11-15 19:37] setop commented on #136
Thanks a lot for the reply.

I built from the last commit and indeed, no more MDBX_BAD_DBI error.

Unfortunately, the headers file does not fix MDBX_MAP_FULL.

I see `mdbx_env_set_geometry` proposes:

- intptr_t  	size_lower,
- intptr_t  	size_now,
- intptr_t  	size_upper,
- intptr_t  	growth_step,
- intptr_t  	shrink_threshold,
- intptr_t  	pagesize

I guess I grok the format of the headers:

- l

[2020-11-15 19:46] setop commented on #136
Actually, there is something wierd:

When I do `./libmdbx/mdbx_load -T foo < header.txt` and then `./libmdbx/mdbx_dump -p foo`:

[code]
It is like the header has been inserted as regual kv pairs.

[2020-11-15 20:33] erthink commented on #136
Please read my answer carefully.
Firstly, you should create the new DB by loading "header" without `-T` option.
Secondary, you should load your data into created DB with the `-T` option.

[2020-11-15 21:19] setop commented on #136
Sorry, I didn't read carefully.

After typing correctly, `./libmdbx/mdbx_dump -p foo` gives :

[code]
It seems the geometry parameter has not been taken into account. I still get MDBX_MAP_FULL when I try to load data.

[2020-11-15 21:55] erthink commented on #136
Sorry, this was minor bug.
Fixed for now.

[2020-11-15 21:58] setop commented on #136
Reading from the code (mdbx_load.c#597), it seems `mapsize` if mandatory to load the geometry.

So I used as header:

[code]
And it works ! 2'263'514 entries, 520MB db, in 7 seconds :champagne:
Thank for the workaround.
I'll continue playing :)

[2020-11-15 21:58] setop commented on #136
Cross posts.
Thanks you very much !

[2020-11-16 03:41] AskAlexSharov commented on #131
1. Какую именно проблему? MDBX_KEYEXIST или MDBX_PROBLEM? (вторая у меня не воспроизводится, первая вроде воспроизводилась, могу попробовать еще раз). В любом случае готов запускать наши тесты на новой ветке.

[2020-11-16 04:18] erthink commented on #131
`MDBX_PROBLEM` было в ваших логах, когда вместе с отладкой вы включили аудит.
После чего я предположил что это два проявления одной проблемы.

Сейчас я пролью правки в ветку `devel` и вам стоит её попробовать на ваших кейсах, ибо мне удалось воспроизвести проблему только однократно.

[2020-11-16 05:43] AskAlexSharov commented on #131
В новом devel 56a52b0b01ca33f317b364417c5cf17846c0d140 при drop 30Gb DupSort DBI:
`mdbx_txn_commit_ex: MDBX_KEYEXIST: Key/data pair already exists`

[2020-11-16 05:46] erthink commented on #131
Видимо мне всё-таки придется скачать вашу тестовую базу и поковыряться локально.
Иначе не понятно как воспроизводить.

[2020-11-16 06:07] AskAlexSharov commented on #131
Нет, я ошибся.

То место которое раньше показывало `MDBX_KEYEXIST: Key/data pair already exists` сейчас показывает `MDBX_TXN_FULL: Transaction has too many dirty pages, i.e transaction is too big`.

`mdbx_stat -s` - показывает, что тот DBI который я дропаю пуст. Т.е. `MDBX_TXN_FULL` я получаю на транзакции которая делает 2 действия - дропает dbi, создает dbi, commit.

Но у этой базы большой фрилис

[2020-11-16 06:13] erthink commented on #131
Хорошо, погоняйте/потестируйте ещё.
Сейчас важно "есть слона частями" - сначала разобраться с `MDBX_KEYEXIST` (основной функционал), а уже после с `MDBX_TXN_FULL` (улучшения).

[2020-11-16 22:45] erthink opened #137 "Alter the terminology"
Historically libmdbx uses the terminology (i.e. environment, database, sub-database, DBI, etc)  inherited from the LMDB.
However, the [terms suggested](https://github.com/snej/nimdbx#the-data-model) by @snej seem to me so much more successful and appropriate.

[2020-11-16 23:17] snej commented on #137
Thanks 😊  I've been using those terms in my code for a while, but I hadn't proposed them for libmdbx because I figured you'd want to stay consistent with LMDB.

[2020-11-17 05:04] #131 closed

[2020-11-18 07:36] erthink commented on #90
Binding for Nim is [available](https://github.com/snej/nimdbx) now by Jens Alfke (@snej).

[2020-11-18 09:54] erthink commented on #131
@AskAlexSharov, пожалуйста попробуйте (несколько раз, по-разному и т.п.) воспроизвести проблему на ветке `devel`.
Если не получиться, то будем считать что баг устранен и я займусь `MDBX_TXN_FULL`.

[2020-11-18 10:33] AskAlexSharov commented on #131
Да, я запустил жирный тест. Но, он занимает несколько дней, думаю остались сутки до конца. Думаю можно считать что баг устранен,  а о результатах тестов я напишу через день-два.

[2020-11-19 02:38] AskAlexSharov commented on #137
unclear why need special term "snapshot"? why "read transaction" is not enough?

[2020-11-20 11:32] AskAlexSharov commented on #131
Закончил тестирование. Специальных ошибок не возникает - но результат не сходится (в той части приложения где у нас кастомный dcmp). Пока не нашел причины - занимаюсь.

[2020-11-20 22:39] snej opened #138 "Build failure on Windows in Github Actions"
libmdbx is failing to build, in the context of a Github Action in a "windows-latest" VM. [Here's an example](https://github.com/snej/nimdbx/runs/1433747284?check_suite_focus=true). I have zero Windows development experience so I can't tell what's going wrong here. This is a Nim project, but it uses the nimterop tool to build the libmdbx submodule by spawning a shell to run `make`. This is working

[2020-11-20 22:55] erthink commented on #131
Дайте больше информации о расхождениях, я подумаю что может быть.

Кроме этого, после расширения тестов курсоров и соответствующих доработок поведение курсоров стало более унифицированным, но поменялось (см ниже). При этом я стремился не менять поведение и сделать его максимально идентичным LMDB (т.е. так как задумывал Говард Чу). Тем не менее, отличия от LMDB скорее всего есть, но из-за ошибок/не

[2020-11-20 22:59] erthink commented on #138
Please just use [CMake](https://cmake.org/) to build libmdbx for Windows, i.e. take a look to https://github.com/erthink/libmdbx#windows.

[2020-11-20 22:59] #138 closed

[2020-11-22 08:20] AskAlexSharov commented on #132
I made an experiment on ioarena which shows that `througput` of mdbx is higher, but `max latency` is much slower than lmdb (in my understanding `max latency` is a bit similar metric as `high percentile`).

Settings: master branch of ioarena, Batch, Lazy, small keys (to enforce updates), run multiple time on same `_ioarena` folder to enforce growth of freelist.

[code]

Branch which modify ioarena

[2020-11-23 07:26] erthink opened #139 "Unexplored corruption in scenarios of using the Miranda NG messenger"
Such corruption (see below) is occurs only in Miranda-NG scenarios, which have a number of specific traits:
- Windows build with `MDBX_TXT_CHECKOWNER=0`;
- `MDBX_EXCLUSIVE` with `MDBX_NOTLS` mode.
- simultaneous use of reading and writing transactions from different threads;
- nested transactions with cursors;
- return codes are not always checked;
- frequent use of `mdb_env_copy2fd()`.

Presumabl

[2020-11-23 07:32] erthink commented on #139
@dartraiden & @georgehazan, домен `miranda.im` протухал в период с 19 ноября, из-за чего почта не ходила и я не в курсе какие мои ответы вы получили.
Предположительно по этой же причине отправляемая с этого домена почта периодически попадает в спам.
Поэтому просьба отвечать здесь.

[2020-11-23 09:10] erthink commented on #138
Please ask me if you need some assistance to use cmake.

[2020-11-23 09:15] erthink commented on #132
Thank for benchmarking and reporting.
As I wrote, this is mostly expected.
I plan to fix this after the v0.9.2 release.

[2020-11-23 09:16] erthink commented on #131
Есть ли какая-нибудь новая информация?

[2020-11-23 10:58] AskAlexSharov commented on #131
К сожалению, пока проблема возникла 2 раза, но нормально воспроизвести и конкретизировать не удалось.

[2020-11-23 11:09] AskAlexSharov commented on #132
Nice.

`As I wrote, this is mostly expected` - It doesn't really match with your comment https://github.com/erthink/libmdbx/issues/132#issuecomment-721197794 - because:
- default ioarena batch size is small - 500 keys (means no big degradation expected)
- ioarena and my app doesn't use MDB_CURRENT
- ioarena has 4GB geometry - and commands above use only 1Gb  (means no resize - or resize is same as

[2020-11-23 11:28] erthink commented on #131
Так в двух словах - какие расхождения вы наблюдаете?
Т.е. что не так?

[2020-11-23 15:31] AskAlexSharov commented on #131
Есть часть приложения: 2 курсора - один dupsort без кастомного dcmp, другой dupaort с кастомным dcmp. Курсоры бегут только вперед - иногда next, иногда setRange, иногда setBothRange. Все полученные данные пропускаются через хеш-функцию - вот этот хеш не сошелся.

Ну, т.е. по пути много чего могло пойти не так.

[2020-11-23 16:38] erthink commented on #131
На всякий:
 - setBothRange требует чтобы ключ был и при его наличии переходит к equal or great значению среди дубликатов.
 - Позиционирование курсоров тестируется как тестами в libmdbx, так и в libfpta. Пока не представляю где тут могут быть проблемы.
 - При удалении или изменении записей в позиции курсора (через другой курсор) могут быть неожиданные эффекты, особенно в случае DUPSORT. Если у вас

[2020-11-23 17:46] snej commented on #137
When learning LMDB I initially found "transaction" confusing for a read-only mode, especially since it's required for any access to keys/values.

Also, my wrapper has an OO API, with regular transactions a subclass of read-only ones, and I always find it a bad sign when a base class name is an extension of a subclass name.

[2020-11-23 17:50] snej commented on #138
Thanks — I'm familiar with CMake, but I was having trouble configuring the `nimterop` tool to build the library with it. I'll give it another try.

[2020-11-24 00:31] snej opened #140 "Document that MDBX_INTEGERDUP requires MDBX_DUPFIXED"
`mdbx_dbi_open` fails with error `EINVAL` if the flags include `MDBX_INTEGERDUP` but not `MDBX_DUPFIXED`.

This isn't documented, at least not in the header, and it confused me for a while until I tried various combinations of flags and figured it out. In hindsight this requirement makes sense (the docs do say the integers have to be the same size), so I assume it's a problem with the docs instead

[2020-11-24 00:41] snej opened #141 "Shouldn't the C functions return MDBX_error_t, not int?"
It's great the that C API (mdbx.h) uses enums for most constants now. Since there's an enum for the error codes, `MDBX_error_t`, shouldn't that be used for the return type of the functions that return error codes, instead of `int`?

This improves auto-generated bindings in languages like Nim that don't allow implicit casts between ints and enums. In my current code, the function results have to be

[2020-11-24 02:08] AskAlexSharov commented on #131
Может быть и нет проблемы, раз не воспроизводится.

“ При удалении или изменении записей в позиции курсора (через другой курсор) могут быть неожиданные эффекты, особенно в случае DUPSORT. Если у вас есть такие сценарии их лучше избежать (напишите при необходимости, я поясню).” - мы перешли на пары курсоров (один читает, второй удаляет) везде потому-что это тот самый баг lmdb с которого у нас тут в

[2020-11-24 04:51] erthink commented on #140
Thanks you for reporting.

[2020-11-24 05:04] erthink commented on #139
@georgehazan & @dartraiden, сейчас случайно заметил что в Миранде не совсем разумно задана геометрия.
Шаг приращения БД задан в два раза больше порога уменьшения, т.е. формально после приращения БД на 1М есть повод сразу её уменьшить на 512К. В libmdbx есть предохранитель от такого поведения, но он не может работать во всех ситуациях.
Поэтому, в идеале, пропорция должна быть обратной = шаг прираще

[2020-11-24 05:48] erthink commented on #141
Unfortunately, this is a problem until it is no open enum types for most programming languages, including C++:
- Many functions can also return system error codes, in addition to the predefined libmdbx's errors.
- In other words, the returned error codes can be arbitrary and we can't list them in the enum type definition.
- On the other hand, using a value for an enum type that is not listed in it

[2020-11-24 12:50] #140 closed

[2020-11-24 18:14] snej commented on #141
Ouch, you're right of course.

[2020-11-24 18:14] #141 closed

[2020-11-25 08:23] erthink commented on #139
Here some backtrace of hanged Miranda-NG:

[code]
Analysis:
- The main thread is waiting for critical section (that guard the use of DB), which acquired by the another thread.
- In turn, the second thread waits for a critical section inside libmdbx, which used for write-transaction in-process serialization.
- But such critical section inside libmdbx is held by a third thread that has already start

[2020-11-25 23:21] AskAlexSharov opened #142 "MDBX_CORRUPTED on APPENDDUP happened again in the same place"
This issue https://github.com/erthink/libmdbx/issues/126 - happened again on fresh devel: d9b95aaff06c0b0b340dd2e34bcadcf11ce741dc

It happened in the same place (probably old dataset can reproduce problem), but I will send you link to new one soon.

Now running test on master...

[2020-11-26 01:48] erthink commented on #142
It doesn't reproduce by the old dataset.

[2020-11-26 01:55] AskAlexSharov commented on #142
master - works well

[2020-11-26 02:08] erthink commented on #142
There are no [differences](https://github.com/erthink/libmdbx/compare/devel) between the `master` and the `devel` to justify the difference in behavior. Actually the changes are:
- .github/actions;
- __ty/__except for Windows;
- intern lresult code checking in extra-rare cases (process killed during reader registration, etc).

[2020-11-26 04:09] erthink commented on #142
Tunnel `xxxxxxxxxxxx.yyyyy.io` not found

[2020-11-26 10:49] erthink commented on #132
На всякий случай я поясню на русском почему "this is mostly expected":
- В контексте пишущей транзакции поддерживается такая штука как "dirty page list", т.е. список измененных/грязных страницы БД.
- Важно что в режимах без `MDBX_WRITEMAP` (когда данные БД отображены в память только для чтения) этот список содержит теневые копии измененных страниц БД, и поэтому любое чтение страницы по номеру треб

[2020-11-26 11:00] erthink commented on #132
Ну к описанному выше добавляется еще один важный момент из-за разницы в опциях использованных в ioarena для _lazy_ режима:
- для LMDB: `MDB_NOSYNC | MDB_NOMETASYNC` = страницы перезаписываются и никаких `fdatasync()`, __при аварии можно потерять всю БД__.
- для MDBX: `MDBX_SAFE_NOSYNC | MDBX_NOMETASYNC` (причем `MDBX_LIFORECLAIM` не даёт эффекта из-за `MDBX_SAFE_NOSYNC`, см доку) = страницы НЕ пер

[2020-11-26 11:11] AskAlexSharov commented on #132
Интересно - я попробую посмотреть на наши графики если включить WRITE_MAP.

[2020-11-26 11:17] erthink commented on #132
Да, но важнее выровнять сравниваемые режимы LMDB и MDBX.

[2020-11-26 11:50] AskAlexSharov commented on #132
Для того чтобы очистить список грязных страниц - нужен sync или только commit достаточно?

[2020-11-26 12:48] erthink commented on #132
Коммит и ничего другое

[2020-11-26 17:38] erthink commented on #142
Unconfirmed at 62% (currently downloaded) of dataset.
The last key `a36a78fc0d8042f611bbf9c3da63e882bdccdc05d11684ed0569059212e1989c`.

[code]

[code]

[code]

[2020-11-27 07:08] erthink commented on #142
Tested with the full data set (~35 GB) on three different machines with different compilers.
The problem is not reproducible.

[2020-11-27 07:08] #142 closed

[2020-11-27 07:24] AskAlexSharov commented on #132
yep, with WRITE_MAP our app has no problems with flushing std::map into db.

[2020-11-27 09:15] erthink commented on #142
На всякий случай, для информации:
- было проверено совпадение исходных данных дампа и после его загрузки.
- sha256 дайджест дампа (без заголовка, начиная со строки `HEADER=END`, включительно) равен
 `d8702c5e1fe1024f71376af12bff84ada34f5f92bee27cc7b768cf45cd558393`.

[2020-11-27 16:43] AskAlexSharov commented on #142
I think need load this dump same way as we did before: in 1 transaction.
mdbx_load does commit periodically.

I still didn't well reproduced it - tomorrow will try to make it reproducible, because I just faced it on v0.9.2 in another place of application in big transaction (on AppendDup).

[2020-11-27 17:13] erthink commented on #142
I disabled intermediate commits by commenting out the [code fragment](https://github.com/erthink/libmdbx/blob/092ab094c4f8e7c704030568db62bad5d106755f/src/mdbx_load.c#L745-L763).
Then build library and tools with `-DMDBX_FORCE_ASSERTIONS=1` for more checking and run `mdbx_load`.

The data was loaded successfully and the `mdbx_chk` output shows that all ~26Gb was loaded in a single transaction.
Mor

[2020-11-27 17:15] erthink commented on #142
It is worth noting that such large transactions (without `MDBX_WRITEMAP`) are at the limit of my laptop's capabilities :(

[2020-11-29 04:00] erthink commented on #9
Unfortunately, at the moment https://github.com/fastogt/fastonosql does not look suitable for build, development or use.
At least project non-buildable by CMake for now since have mad mixing of CMake and junk python scripts.

[2020-11-29 05:10] erthink commented on #9
https://www.opennet.ru/openforum/vsluhforumID3/122544.html#74

[2020-11-29 05:30] erthink commented on #9
There is a small chance that someone will decide to help and still make a driver for `fastNoSQL`.
For my part, I don't think I can do this until the `fastNoSQL` build scripts are in good condition.

FYI, @topilski (я действительно не смог собрать ваш софт, и не могу понять зачем вы так наколбасили со сборкой).

[2020-11-29 06:33] erthink commented on #9
Автор FastNoSQL обиделся на сформулированное в https://www.opennet.ru/openforum/vsluhforumID3/122544.html#74 и закрыл дальнейшее обсуждение на https://github.com/fastogt/fastonosql/issues/36

Буквально:

Тем не менее, открыто говоря, сборочные скрипты FastNoSQL плохи и многократно демонстрируют как (локальную) техническую безграмотность (т.е. незнание как лучше/правильно), так и нежелание наводить

[2020-11-29 06:47] erthink commented on #9
@topilski, ради расстановки точек на "i" (конечно IMHO):
- Сборочные скрипты в FastNoSQL "говно2 и мешают как _сипольованию_ так и _развитию_ проекта.
- Код внутри libmdbx тоже "говно" (унаследованное от LMDB), то не мешает _использованию_ libmdbx.
При этом развитие без погружение в тонкости исходного LMDB не возможно и поэтому не предполагается.

[2020-11-29 06:56] erthink commented on #9
Nonetheless, anything that is bullshit must be noted as a bullshit, including a lot of libmdbx internals inherited from LMDB.

[2020-12-02 05:24] razum2um commented on #9
I suspect easy build scripts/pipeline will contradict FastNoSQL's monetisation/marketing policy (prebuilt binaries, at least for macos require signup on the site). Also see: https://github.com/fastogt/fastonosql/issues/51

[2020-12-04 20:48] erthink opened #144 "Database corruption on Fedora Linux 33"
This is not a libmdbx, but Fedora:
- In a complex bash script FD=2 (stderr) got unexpectly closed  and then get used (i.e. returned from `open()`) by libmdbx inside `mdbx_env_open()`.
- then any application write to `stderr` leads to database corruption.

Bug was investigated by `strace` tool and then was caught by `assert(fd > 2)`.

[2020-12-05 07:32] erthink commented on #144
The problem is in the time utility from Fedora 33.

[code]

But(!)
[code]

The same commands on Ubuntu:
[code]

[2020-12-05 09:05] erthink commented on #144
https://bugzilla.redhat.com/show_bug.cgi?id=1904650

[2020-12-10 08:43] AskAlexSharov opened #145 "mdbx_dbi_stat: returns error that "database is not compatible with the requested operation or the specified flags""
"mdbx_dbi_stat: MDBX_INCOMPATIBLE: Environment or database is not compatible with the requested operation or the specified flags"

It's just usual DBI - created with 0 flags.

I can't reproduce it in hand-made tests (but reproducable in real DB) - because don't understand nature of the problem (usually such error coming only from mdbx_dbi_open or mdbx_env_open).

[2020-12-11 06:54] AskAlexSharov commented on #145
Some not very useful context:
1. I migrating db from LMDB to MDBX with flags: WriteMap | NoMemInit | NoReadahead | Coalesce | Durable
2. Closing DB
3. Opening db with NoReadahead | Coalesce | Durable
4. Trying to drop 1 DBI (which was DupSort - not sure how to get current DBI flags - mdbx_dbi_flags requires to open DBI first and to open need to know flags) and  by migration - but opening this DBI

[2020-12-13 22:13] erthink commented on #145
I have analyzed the code and have not yet found any flaws that could lead to the described problem.
However, I think I need to clarify some of the subtleties of the API that should be considered.

1. Yes, sure, you should use `MDBX_DB_ACCEDE` to open existing sub-DB without knowledge of it's DB-flags.
2. libmdbx (and LMDB) shares DBI-handles across transactions to avoid re-open ones from each tran

[2020-12-13 22:13] #145 closed

[2020-12-14 10:05] georgehazan commented on #139
да, всё правильно закрыто, потому что при глобальной транзакции такой ситуации в принципе быть не может

[2020-12-14 11:02] erthink commented on #139
Нужны новые факты и/или сценарии воспроизведения.

[2020-12-14 11:30] georgehazan commented on #139
там сейчас NOTLS вкупе с MDBX_TXN_CHECKOWNER=0, поэтому данный вид блокировки невозможен в принципе, блокировка происходит исключительно посредством критических секций Миранды

[2020-12-14 11:35] erthink commented on #139
Да, про описанный выше стектрейс всё понятно.
Но пока нет никакого понимания откуда повреждение БД.

[2020-12-15 06:10] AskAlexSharov opened #146 "MDBX_BAD_VALSIZE when insert into empty DupSort bucket"
Simplified pseudocode to describe what's happening:
- open write transaction
- open DBI Create|DupSort
- PUT NoOverwrite: bd174f45fb00f7905ce254c0ef491691c955a15fdf10c5665b4493a591627fbe,020164
- PUT NoOverwrite: f22bb46edf31af855938befaa870ed3d86a4ad93a9ecf7c63ceaa80daea9ac4d,02081bc18080c0525000
- PUT NoOverwrite: 00bf49f440a1cd0527e4d06e2765654c0f56452257516d793a9b8d604dcfdf2a,030101087fffece68

[2020-12-15 09:25] erthink commented on #146
1. [This assertion](https://github.com/erthink/libmdbx/blob/3e7459b428373404e3c8ce238bd4061fa9d18f79/src/core.c#L5915-L5916) is always enabled to check an integrity of cursor's and txn's internals during commit.
2. In your case the `MDBX_BAD_VALSIZE` will returned if length of a key and/or a value is out of min/max bounds for particular DBI. However, the error will also be returned if the cursor's

[2020-12-15 11:03] AskAlexSharov commented on #146
Thank, i will search for concurrency. (I also noticed when adding some debug prints - problem gone - so, for sure some concurrency there)

[2020-12-16 08:51] AskAlexSharov commented on #146
reason was:
- when APP re-creating DBI - it storing new DBI value in own memory
- but there was rollback of transaction which did re-creation of DBI (it's fine - because it's logic of some tests)
- as a result app had wrong DBI value in memory and used it

[2020-12-16 10:33] erthink commented on #146
@AskAlexSharov, thank you for your investigation and clarification.
However, this is still a bug, because in the described scenario, the library allows the use of an incorrect DBI handle.

[2020-12-16 12:28] guozanhua opened #147 "Python binding"

[2020-12-16 12:29] guozanhua opened #148 "need nodejs npm binding"

[2020-12-16 12:35] erthink commented on #147
PR is welcome!

[2020-12-16 12:35] erthink commented on #148
PR is welcome!

[2020-12-16 12:38] erthink commented on #148
Please use the [new C++ API](https://github.com/erthink/libmdbx/blob/master/mdbx.h%2B%2B) as a basis/template.

[2020-12-16 12:38] erthink commented on #147
Please use the [new C++ API](https://github.com/erthink/libmdbx/blob/master/mdbx.h%2B%2B) as a basis/template.

[2020-12-16 23:02] erthink commented on #146
@AskAlexSharov, could you undo fixes of your code and retry tests on the `fix-146` branch, i.e. test my fixes?

[2020-12-17 06:34] AskAlexSharov commented on #146
I did:
Assertion failed: (!"Invalid key-size"), function mdbx_cursor_put, file mdbx, line 15767.

[2020-12-17 07:01] erthink commented on #146
Thanks, i'll dig further.

Can you point me to the your fix?
Maybe this will help me reproduce the problem locally.

[2020-12-17 07:42] AskAlexSharov commented on #146
FIX: just deleted all records from DBI manually instead of drop+create DBI.

I can't reproduce in small test (big one is too confusing), but here is small test which also shows some err (on fix-146) - DBI value doesn't change after re-create and abort, but I can't use it: MDBX_BAD_DBI: The specified DBI-handle is invalid or changed by another thread/transaction [recovered]:
https://github.com/ledg

[2020-12-17 08:02] erthink commented on #146
1. I hope that the last commit I fixed the problem.
The error was that the check for the use of the re-created handle was too late.
So, checking the length of the key and data could result in an error, since the internal data was reset during handle renewing.
2. Your code is not good, especially the fix.
Instead of drop and re-creating DBI or deleting all records manually, you could just call mdbx

[2020-12-17 11:30] AskAlexSharov commented on #146
1. Don't see difference in my test
2. Agree.

[2020-12-17 15:41] erthink commented on #146
1. I [reproduced](https://github.com/erthink/libmdbx/commit/760f1654c2371306d07fbeefdcfd18f87e80358c#diff-666c97bb6985469288a46d459a55b6d2af713b4b36e577181c7946f5e5fda0b4R36-R73) a scenario of your test and could not get the `MDBX_BAD_VALSIZE`, but only `MDBX_BAD_DBI`.
2. As I wrote earlier, to get rid of the need to re-open (or close) DBI handles in each transaction, they are shared across transa

[2020-12-17 16:02] #146 closed

[2020-12-17 21:19] erthink commented on #146
@AskAlexSharov, nonetheless, please write a few words here about the noted drawback is important for LwTG or 'not.

[2020-12-17 21:28] Thermi opened #149 "Inter-Process locking supported?"
Hi, I'm looking to replace the usage of berkeley db in an application with libmdbx. The application uses the database different processes, so I need to make sure that concurrent access works fine. Does libmdbx support that (interprocess locking)?

[2020-12-17 21:48] erthink commented on #149
Oh, yes... Did you read the `README`?
// please, ok?

[2020-12-17 21:58] erthink commented on #149
On the other hand, your fresh perspective would reveal shortcomings in the presentation of information (which is quite important).
So i will be grateful to you both for any comments and (even better) for a concrete PR.

// p.s. seems is a friday sunset on my KP time ;))

[2020-12-17 22:11] Thermi commented on #149
I did read the `README`, but it only mentioned ``` multi-threaded processes``` not different processes as in processes that do not share the heap.

[2020-12-17 22:22] erthink commented on #149
Well.
What differences do you see after reading the documentation, and how do you propose to formulate them?

[2020-12-17 22:23] Thermi commented on #149
Yeah well, until I read the code I do not know if libmdbx actually supports inter process locking or just intra process locking. So which of it is it? :P

[2020-12-17 22:39] erthink commented on #149
Well. What differences do you see after reading the documentation, and how do you propose to formulate them?
... Nope....

Oh yes, I would (a current) "windows" and something along the way.
Nonetheless if I understand you correctly, you are wrong.
Again, basically: single serialized writer, + a lot of unblocked readers.

[2020-12-17 23:05] Thermi commented on #149
I'm not impliying anything about how libmdbx does the locking, just that it uses the posix APIs for that.

[2020-12-17 23:18] erthink commented on #149
Well, lets to play?
/
do it.

[2020-12-17 23:20] Thermi commented on #149
Sorry, I don't want to have any kind of argument or verbal fight here. I just wanted to know if libmdbx supported inter process locking, which it does.
If you are interested in adding any information to the README, just add which APIs you use to do that and that you support inter process locking, too, so a DB can be read from and written to from different processes without trouble.

[2020-12-18 05:44] AskAlexSharov commented on #146
It's not important bug for TG project. I just will follow your recommendation:
`Your code is not good, especially the fix.
Instead of drop and re-creating DBI or deleting all records manually, you could just call mdbx_drop(tx, dbi, false) to purge data but leave both key-value table and it's handle.`

[2020-12-18 05:47] AskAlexSharov commented on #132
@erthink , do you need me to run any test on devel?

[2020-12-18 18:53] #149 closed

[2020-12-21 22:55] erthink commented on #106
Seems the 1Hippeus cluster is it, but this project is closed sine 2015.

[2020-12-23 10:43] erthink commented on #132
Not for now. I will notify you.

[2021-01-06 22:26] snej opened #151 "Ignore and clean DLLs and dSYMs (includes patch)"
* After building on macOS, Git sees the resulting .dylib and .SYM files as changes.
* `make clean` doesn't remove those files.

The below patch fixes this. It should also fix the corresponding problem with .dll files on Windows, though I haven't tested that.

(Apologies for sending a patch instead of a PR, but this is a pretty minor change to create a fork for.)

[code]

[2021-01-06 23:04] #151 closed

[2021-01-16 12:16] sirinath opened #152 "MithrilDB"
How is progress and when will it be released?

[2021-01-18 09:18] lithdew opened #153 "mdbx_env_open: undefined behavior reported by llvm11 ubsan"
Tested on libmdbx v0.9.2, zig master, llvm 11.

Suppressing UBsan reports by passing `-fno-sanitize=undefined` allows the following program to execute successfully.

[code]

zig stack trace:

[code]

gdb stack trace:

[code]

ubsan reports undefined behavior in `mdbx_meta_set_txnid`. Here is the disassembly:

[code]

[2021-01-18 11:29] erthink commented on #153
@lithdew, please check and reopen this issue if something will wrong.

[2021-01-18 11:53] lithdew commented on #153
Tried it just now - LLVM's UBsan reports undefined behavior with the same stack trace.

[code]

[2021-01-18 12:10] erthink commented on #153
Please try to disable optimization and attach the disassembly listing (like last time). Otherwise, I have no idea what caused the fall.

[2021-01-18 12:18] lithdew commented on #153
Sure - optimizations are all disabled by default.

[code]

[2021-01-18 12:48] erthink commented on #153
This code looks partially optimized.
At least compiler generated one UB2 instruction and about 25 conditional jumps to it for cases the UB rules were violated.
So it is impossible to understand which rule was violated without step-by-step tracing of the function in the debugger.

Please try to do this.
If you don't succeed, I'll do it myself, but probably not before the end of this week.

[2021-01-19 03:18] gogolxdong opened #154 "MSVC's bug: Building with Visual studio 2019 stuck"
Building with Visual studio 2019 after cmake . stuck at some point.

[2021-01-19 04:21] erthink commented on #154
This is MSVC compiler bug, for more info see the https://github.com/erthink/libmdbx/issues/116.

[2021-01-19 19:28] snej opened #155 "GCC build errors reported on Windows"
I have [a bug report](https://github.com/snej/nimdbx/issues/9) against my Nimdbx wrapper, that mdbx.c (the amalgamation prebuilt by me with `make dist`) fails to compile with GCC on Windows. I do know Nimdbx builds on macOS and Ubuntu. The first two errors are:

[code]

I've never seen a preprocessor symbol used as the parameter of `#include` before; is it a GCC extension? But it seems to work for

[2021-01-20 06:50] erthink commented on #155
Ok, I'll see what's going on.

[2021-01-20 13:04] erthink commented on #155
Briefly:
- Seems the problem (incompatibility) is in the windows version of the utilities (`sed`, `bash`, `echo`, etc) used for `make dist` and building libmdbx by `make`.
- I am leaning towards the decision to close this issue as "wontfix", while retaining the recommendations to use `CMake` for building on Windows and create amalgamated source code (i.e. running `make dist`) only on modern Unix.

[2021-01-20 13:30] erthink commented on #155
More details:
1. libmdbx supposes the two build methods: by `CMake` with provided `CMakeLists.txt` (a portable way), or by `GNU Make` with provided `GNUmakefile` (requires GNU Linux or modern Unix environment).
2. `GNUmakefile` uses commands like
`$(CC) $(CFLAGS) $(MDBX_OPTIONS) '-DMDBX_CONFIG_H="config.h"' -DLIBMDBX_EXPORTS=1 -c mdbx.c -o $@` to build, which expended to `cc -O2 -g -Wall -Werror -

[2021-01-20 16:54] erthink commented on #154
Reopen only to stay in the wontfix state and avoid duplicates due to MSVC bugs.

[2021-01-20 18:35] erthink commented on #153
I tried to reproduce the problem on Fedora 33 c clang 11 in two cases:
1. By default `make test-ubsan`target which uses the `-Ofast -fsanitize=undefined -fsanitize-undefined-trap-on-error` compiler flags. This is done by `$ CC=clang CXX=clang++ make test-ubsan -j4` command for basic test and then by `$ ./test/long_stochastic.sh` for extended.
2. Same as above but with editing `GNUmakefile` to use

[2021-01-20 19:06] erthink commented on #153
For reference and investigation below are three listings the body of `mdbx_meta_set_txnid()`:
1. for first case above with addinional `__noinline` to function (otherwise it is always inlined and no `mdbx_meta_set_txnid` symbol was provided): [listing-1-with-Ofast-trap-noinline.txt](https://github.com/erthink/libmdbx/files/5844681/listing-1-with-Ofast-trap-noinline.txt)
2. for second case above: [l

[2021-01-20 21:14] erthink commented on #153
Confirmed.
CLANG detects a few false-positive UB which provoked by assertion check:
- Address arithmetic with NULL (without dereferencing, and no type-id is needed).
This seems enough stupid, literally like an already fixed bug with the definition of UB within offsetof macro.
- Address arithmetic with fixed-sized arrays ((without dereferencing) when the result (not a target) address beyond the end

[2021-01-20 22:12] erthink commented on #153
@lithdew, please check the `devel` branch and close this issue on success.

[2021-01-20 22:55] lithdew commented on #153
Thanks! Just confirmed it, no longer detecting any undefined behavior.

[2021-01-20 22:55] #153 closed

[2021-01-21 00:57] snej commented on #155
Actually that glitch occurred when I ran `make dist` on macOS 10.15. (Those sources are checked into my repo.) I don't know the exact version of `sed`, but it seems to be based on the FreeBSD version.

The CMake build fails unless the sources be in a git repo. This was causing problems for me with the way Nim installs packages ... basically by the time CMake runs, my package's source tree (and sub

[2021-01-21 12:47] erthink commented on #155
Perhaps I'm confusing something, but AFAIR, I checked the work of `make dist` on Freebsd.
Nonetheless, at least, I will add a check of the `make dist` result to detect problem immediately.

[2021-01-21 13:11] erthink commented on #155
And, of course, all suggestions on how to make the sed script more portable are welcome.

[2021-01-21 20:31] erthink commented on #139
При внутреннем расширенным тестировании обнаружены и устранены три потенциальные причины:
- https://github.com/erthink/libmdbx/commit/c1fef9b51d82c3aa8f114c77e983bda9c4364f1b: fix page leak in extra rare case the list of retired pages changed during update GC on transaction commit;
- https://github.com/erthink/libmdbx/commit/b8bb4b4cc415e2ac5e814c790d41c540dbdc32ce: fix propagation child txn DBI-s

[2021-01-22 08:30] AskAlexSharov commented on #123
Did test to drop 40Gb DBI on current devel branch (e0d4eaf819f1b9b6cef16e7f74653ff0ced9b67c)
Got: `mdbx_txn_commit_ex: MDBX_KEYEXIST: Key/data pair already exists`

[2021-01-22 08:33] AskAlexSharov commented on #123
ah, no, probably it's because I still didn't switch to mdbx_drop(delete=false).

[2021-01-22 10:12] erthink commented on #123
No, that can't be the reason.

The `MDBX_KEYEXIST`  inside `mdbx_txn_commit_ex()`can only occur when updating the GC/Freelist, i.e., due to an attempt to insert an entry with an already existing key there.

I can't reproduce the problem, it is very likely that the manifestation depends on the internal state of the GC / Freelist (i.e., on the history of operations which can't be restored by `mdbx_l

[2021-01-22 11:42] erthink commented on #155
@snej, I just added an amalgamated source code check during `make dist`, and these changes have passed CI-check on Travis-CI, including for MacOS and FreeBSD.

This means that my amalgamation scripts do not have any troubles, they work fine on Linux, FreeBSD and MacOS.

[2021-01-22 13:25] AskAlexSharov commented on #123
Ok. Will do tomorrow. But move to dbi_drop(del=false) helped.
To give you more context: app does drop and create DBI with same name, then start using it. And applying your advise helped  https://github.com/erthink/libmdbx/issues/146#issuecomment-747881611

[2021-01-22 21:05] erthink commented on #82
https://github.com/erthink/libmdbx/tree/digging-valgrind

[2021-01-22 21:13] erthink commented on #139
@georgehazan, просьба по-возможности попробовать текущую ветку `devel`.

[2021-01-22 22:24] snej opened #156 "Missing linebreak in dist/mdbx.c"
(Split off from #155) I noticed that, on macOS 10.15, the amalgamated version of mdbx.c produced by `make dist` has a glitch in line 14:
[code]
The "`n`" before the second `#define` is clearly supposed to be a newline.

This isn't causing any problems that I've noticed. It looks like it'll probably cause the git version field of `mdbx_version` to be empty, but I haven't checked.

This is generated

[2021-01-22 22:56] erthink commented on #156
Please check [this](https://github.com/erthink/libmdbx/commit/ed4cb000e413bf12a863e8d6984dabadfc85c5c8).

[2021-01-23 09:29] georgehazan commented on #139
Вдул народу в дев билд 0.9.2.110.

--
WMBR, George Hazan

------ Original Message ------
From: "Леонид Юрьев (Leonid Yuriev)" <notifications@github.com>
To: "erthink/libmdbx" <libmdbx@noreply.github.com>
Cc: "George Hazan" <ghazan@miranda.im>; "Mention"
<mention@noreply.github.com>
Sent: 23.01.2021 0:13:57
Subject: Re: [erthink/libmdbx] Unexplored corruption in scenarios of
using the Miranda NG me

[2021-01-23 10:43] erthink commented on #144
Fixed in `time-1.9-12.fc33` Fedora package.
More over, libmdbx now have protection against such cases .

[2021-01-23 10:43] #144 closed

[2021-01-23 11:53] erthink commented on #156
@snej, could you check the fix suggested  above?

[2021-01-24 12:24] erthink commented on #156
Fixed for BSD for now, but still fail on MacOS.
Seems MacOS's version of sed have a bug or is really mad/incompatible.

[2021-01-25 04:13] erthink commented on #123
У меня получилось воспроизвести проблему и я примерно понял в чем дело.
Думаю сегодня поправлю.
Какой-либо информации и/или помощи не требуется.

[2021-01-25 05:48] AskAlexSharov commented on #123
Отличненько, потому что у меня почему-то не получается

[2021-01-25 20:13] erthink commented on #123
Подробности ниже, а если кратко, то это регресс после https://github.com/erthink/libmdbx/issues/123#issuecomment-714574885.

---

В lifo-режиме  при фиксации транзакции, записи в GC могли быть перезаписаны (с утечкой страниц БД), либо могла возникать ошибка `MDBX_KEYEXISTS`, по следующему сценарию:
- В истории БД были две транзакции с огромным кол-вом retired pages, после которых в GC остались две

[2021-01-25 23:55] erthink commented on #139
@georgehazan, стоит обновиться. В `devel` поправлено несколько багов: течь памяти, memcpy out-of-bounds и регресс https://github.com/erthink/libmdbx/commit/5f1b6847195c8e2587c891537e82a72db9937800.

[2021-01-25 23:55] #139 closed

[2021-01-25 23:56] #156 closed

[2021-01-25 23:57] #128 closed

[2021-01-25 23:58] #123 closed

[2021-01-27 12:54] Thermi opened #157 "Failure on ppc64le architecture"
Logs [here](https://gitlab.alpinelinux.org/Thermi/aports/-/jobs/305950)

log gz and test db are in the zip file.

[MR18221_ppc64le.zip](https://github.com/erthink/libmdbx/files/5880295/MR18221_ppc64le.zip)

[2021-01-29 06:31] erthink commented on #157
The cause of the problem was not a weak PowerPC memory model, but a trivial error that only occurred if the system memory page size was greater than 32K.
This is fixed for now in the `devel` branch.
Please check it.

However, later today there will be another fix for very large system page sizes.
Improvements I made to better support architectures with a weak memory model will also be merged, but

[2021-01-29 15:18] Thermi commented on #157
Seems to work now with the last patch (the one dealing with large page sizes).

[2021-01-29 18:49] #157 closed

[2021-01-30 14:58] georgehazan commented on #139
Продвинул libmdbx до 0.9.2.136.

--
WMBR, George Hazan

------ Original Message ------
From: "Леонид Юрьев (Leonid Yuriev)" <notifications@github.com>
To: "erthink/libmdbx" <libmdbx@noreply.github.com>
Cc: "George Hazan" <ghazan@miranda.im>; "Mention"
<mention@noreply.github.com>
Sent: 26.01.2021 2:55:23
Subject: Re: [erthink/libmdbx] Unexplored corruption in scenarios of
using the Miranda NG mess

[2021-01-31 23:27] erthink commented on #132
@AskAlexSharov, еще могут быть какие-то правки, но более-менее я закончил всё что хотел сделать.
По-возможности прошу прогнать ваши тесты/бенчмарки на текущей веке `devel`.
Было-бы интересно увидеть разницу в сравнении с предыдущими вашими результатами.

[2021-02-01 02:28] AskAlexSharov commented on #132
ок. щас запустим.

[2021-02-02 15:46] #132 closed

[2021-02-03 02:09] AskAlexSharov opened #158 "Devel: freelist growth fast"
- Normally in this workload freelist almost empty (because it’s place where new data coming).
- No DBI drops were performed.
- Freelist growth to 128Gb
- App did big updates by 500mb batches (semi-random updates/inserts), each such batch did increase freelist size by 7Gb.
- env: durable | coalesce
- env.SetGeometry(-1, -1, 2Tb, 2Gb, -1, -1)

`
Garbage Collection
  Pagesize: 4096
  Tree depth: 1

[2021-02-03 07:57] PaoloRebuffo commented on #158
I did another check on the same DB that @AskAlexSharov  is referring to with:
mdbx_stat -ff

The results are these:
mdbx_stat v0.9.2-146-g2b290e08 (2021-02-01T02:14:28+03:00, T-1a4a5b9dcaec955497b57791b5f86e85331d41d8)
Running for /home/admin/.local/share/turbogeth/tg/chaindata...
Garbage Collection
  Pagesize: 4096
  Tree depth: 1
  Branch pages: 0
  Leaf pages: 1
  Overflow pages: 125845
  Entri

[2021-02-03 13:07] erthink commented on #158
1. Please make sure that there are no reading transactions preventing GC/Freelist reclaiming.
This could be done by `mdbx_stat -r` while test running and in best case should show only one (i.e. itself) in the reader table.
For other reader(s), you need to pay attention to the `retained` column, large values in which means that the reader prevents the GC/Freelist from reclaim.
2. Then, seems the [`

[2021-02-03 13:27] erthink commented on #158
Nonetheless, I will re-check the code.

[2021-02-03 13:49] AskAlexSharov commented on #158
1. will do
2. actually we moved our DB towards small values - almost no overflow pages in our db now (or little amount per value). Still increase?

[2021-02-03 22:51] mahlonsmith opened #159 "Building on aarch64"
Ran into a pile of relocation errors when attempting an ARM build:

[code]

Adding `-fPIC` to the `CXXFLAGS` definition of the GNUMakefile allowed it to compile cleanly - I'm not sure if by doing so that causes any other repercussions or unintended consequences - just a heads up.  (I see it's already present for `CFLAGS`)

[2021-02-04 01:16] AskAlexSharov commented on #158
mdbx_stat -r
[code]

[2021-02-04 12:55] erthink commented on #158
The large/overflow pages still need for GC/Freelist itself (i.e. for large list of retired pages).

Presumably, I will have time to deal with this problem tonight, but still carefully watch for long-reading transactions to exclude their impact.

[2021-02-04 15:41] erthink commented on #159
OK, I'll add `-fPIC`.

Although the build for `ARM` and  `aarch64` was tested using `arm-linux-gnueabihf-gcc (Ubuntu 10.2.0-8ubuntu1) 10.2.0` and `aarch64-linux-gnu-gcc (Ubuntu 10.2.0-8ubuntu1) 10.2.0`.
So it could be a gcc and/or binutils issue.

[2021-02-04 16:43] erthink commented on #159
I rechecked the situation and came to the conclusion that everything is fine and there is no reason to fix anything:
- the `-fPIC` option is already passed to the C **and** C++ compilers, i.e. **to the both**;
- the build is successful with the ARM and AARCH64 cross-compilers both.

[2021-02-04 16:43] #159 closed

[2021-02-05 07:33] AskAlexSharov commented on #158
Increasing MDBX_opt_rp_augment_limit helped for our basic workload.
Next step - test after big DBI drop.

[2021-02-05 23:01] AdrianEddy commented on #114
Check out `heed` to Rust bindings: https://github.com/Kerollmops/heed

[2021-02-06 12:58] erthink opened #160 "Performance degradation due C11 atomics"
MDBX: 163.5 Kops (without C11 atomics) -> 119.7 Kops (with C11 atomics).
LMDB: 136.9 Kops (as reference for the same benchmark).

So the using C11 should be reverted or revised, at least for architectures with non-weak/non-relaxed memory model (E2K, x86).

[2021-02-06 16:16] erthink commented on #160
@AskAlexSharov, FYI.
Will fix shortly.

[2021-02-07 06:39] #158 closed

[2021-02-07 09:24] hiqsociety opened #161 "how to use github.com/torquem-ch/mdbx-go for golang?"
Does anyone know how to implement this? There's no basic tutorial on how to get it working.
my golang uses boltdb and i'm trying to convert it to use libmdbx

[2021-02-07 11:10] #160 closed

[2021-02-07 11:37] erthink commented on #161
Take look to https://github.com/erigontech/erigon/tree/main/db and @AskAlexSharov.

[2021-02-07 11:38] #161 closed

[2021-02-11 07:02] AskAlexSharov opened #162 "mdbx_env_set_option - must be called after env.Open()?"

[2021-02-11 21:29] Thermi commented on #147
I started work using pybind11.

[2021-02-11 21:32] erthink commented on #147
But, please, take look to the morern С++ API.

[2021-02-11 21:38] Thermi commented on #147
I'm doing that.

[2021-02-16 04:23] erthink commented on #162
This depends on the option being altered.
Some can be changed only before opening, but most between transactions.

[2021-02-16 04:44] AskAlexSharov commented on #162
Ok

[2021-02-16 04:44] #162 closed

[2021-02-16 11:21] Thermi commented on #147
I need some help with writing the Type Caster from mdbx::slice to byte[] and other Python types. The idea is to convert to Python types early, because Python provides native methods for slicing arrays and anything that mdbx::slice provides. At the moment, writing the type caster still goes over my head. I uploaded the code in my repo in an own branch. Any help with writing it is greatly appreciate

[2021-02-17 02:19] AskAlexSharov opened #163 "Spill frequency settings"
- Lmdb default durtylist limit is 2^17, but mdbx’s is 2^16
Is it ok?

https://git.openldap.org/openldap/openldap/-/blob/master/libraries/liblmdb/midl.h#L61

https://git.openldap.org/openldap/openldap/-/blob/master/libraries/liblmdb/mdb.c#L2051

- one more question: does APPEND has any difference from UPSERT from dirty pages and spill point of view? Or no special cases here?

- Please educate me ab

[2021-02-18 10:14] erthink commented on #147
As a traditional key-value store _libmdbx_ handles a keys and values in terms of byte sequences, which in some cases treated as a `uint32_t` or `uint64_t` instances. This assumes that the user's data is somehow serialized during placed in the database and deserialized while read.

In most cases, simple byte-by-byte copying of field values from stored data structures is used for serialization. This

[2021-02-18 10:36] erthink commented on #163
Please take look to the [`MDBX_opt_txn_dp_limit`](https://libmdbx.dqdkfa.ru/group__c__settings.html#gga671855605968c3b1f89a72e2d7b71eb3a262cec5ffe0762dd2254fe6dd7b2e6c7), [`MDBX_opt_spill_max_denominator`](https://libmdbx.dqdkfa.ru/group__c__settings.html#gga671855605968c3b1f89a72e2d7b71eb3ab1150ff5efb3992daf6626909d17a1e2) and [`MDBX_opt_spill_min_denominator`](https://libmdbx.dqdkfa.ru/group__c_

[2021-02-18 13:38] AskAlexSharov commented on #163
yes, definitely.

[2021-02-18 13:52] erthink commented on #163
No special cases.

With the APPEND when the page is filled in, a new one will be added instead of splitting it. Thus you get approximately a half of dirty pages in a large appending case.

[2021-02-19 04:41] #163 closed

[2021-02-24 02:18] AskAlexSharov opened #164 "Performance degradation when hot part of DB getting bigger than RAM (harder than LMDB)"
We have speed tests for our app and they show on 64Gb RAM our app is faster with MDBX than with LMDB, but at 16GB machine - after hot part of DB goes over 16Gb speed of app+MDBX getting behind app+LMDB. I don't see any specific bottleneck. GC size is small ~16mb.

Settings: i did try various settings - picture doesn't change - last time I did try to disable all additional features of MDBX (to get

[2021-02-24 02:31] AskAlexSharov commented on #164
Actually I didn't try to reduce `OptRpAugmentLimit` - let me try

[2021-02-24 07:52] AskAlexSharov commented on #164
no, OptRpAugmentLimit didn't change picture because GC is small

[2021-02-25 15:34] erthink opened #165 "Build silently the make' targets by default"
1. Make the traditional targets silent, except an error messages;
2. Add the verbose targets, i.e. `dist-verbose`, `all-verbose`.

Related to https://github.com/ledgerwatch/turbo-geth/issues/1518

[2021-02-25 22:27] erthink commented on #164
В целом всё выглядит довольно странно.
Пока у меня три "гипотезы":
 - в libmdbx есть какой-то недочет, который проявляется в вашем сценарии.
 - некая особенность libmdbx провоцирует/усугубляет некий недочет в ядре ОС, либо в драйвере диска или (даже) в его внутренней прошивке.
 - наибольшее подозрение сейчас вызывает madvise.

С другой стороны, лучшее сжатие и одновременно худшая производительност

[2021-02-26 13:12] erthink commented on #164
1. Из этого следует, что сначала нужно понять откуда +5%.
Предположительно дело в том, что в libmdbx достаточно строго выполняется стратегия слияния страниц = если страница заполнена менее чем на 25%, то она сливается с наименее заполненным соседом.
В среднем это обеспечивает более-менее рациональный баланс между рыхлостью и скоростью вставок:
   - если страницы заполнены слишком сильно, то при вс

[2021-02-26 13:47] AskAlexSharov commented on #164
Добавил getrusage на борд. Вот небольшой кусочек для сравнения:
lmdb и mdbx проделывают одинаковой кусок работы на большой базе. На машине с 64Gb RAM (на 16Gb RAM эксперимент пока не готов).

<img width="1802" alt="Screen Shot 2021-02-26 at 18 12 07" src="https://user-images.githubusercontent.com/46885206/109307611-7c7bea80-7873-11eb-900f-46a0b98c3809.png">

time -v вывод для этого куска работы (M

[2021-02-26 14:02] AskAlexSharov commented on #164
1. понятно, думаю это не срочно (потому что мне кажется что проблема не в этом). Потому что в графане не вижу медленного put_current.

2.
Без сжатия: lmdb 966Gb, mdbx 1014Gb
Со сжатием (zfs с дефолтными настройками компрессии): lmdb 562Gb, mdbx 489Gb

3.
я сравниваю lmdb с mdbx сейчас (либо оба без сжатия либо оба со сжатием, на машинах с > 64Gb RAM).
оба без сжатия: lmdb на 1% быстрее
оба со сжат

[2021-02-26 18:17] erthink commented on #164
Спасибо за информацию, она более-менее проясняет ситуацию. Но всё-таки хотелось-бы увидеть статистику (`mdb_stat -aef` и `mdbx_stat -aef`), чтобы понимать ситуацию чуть точнее.

Прежде всего, **ОЧЕНЬ ПОДОЗРИТЕЛЬНЫМ** выглядит большой Maximal RSS (53Gb против 42Gb у LMDB). Если предположить, что есть какая-то течь памяти или её несвоевременный возврат системе, то этого достаточно для объяснения пло

[2021-02-27 01:46] AskAlexSharov commented on #164
Спасибо. Идея с рыхлостью страниц (какой термин используется на английском? Мы называем slackness) мне начинает нравиться потому что в нашем случае апдейтов летит не так много и их скорость не так важна как чтения. Нажор сегодня поищу - а он не может быть связан с dirty list growth-realloc - сейчас начальный размер 4*1024, максимальный 128*1024 (думаю что нет потому что происходит всего 4 транзакц

[2021-02-27 17:09] erthink commented on #164
"Рыхлось" это мой термин, и imho довольно удобный. В английском "slackness" (от slack space) более-менее распространенный (большинство поймет о чём).

На всякий я запущу тест на течи памяти (`-fsanitize=leak`) с большими транзакциями, но раньше это уже проверялось.

Интуитивно, возможно, у вас кодовой базе где-то осталась какая-то отладка в условный `std::ostringstream`. Еще стоит проверить исполь

[2021-02-28 09:54] AskAlexSharov commented on #164
Получил `stat -aef`.
Эксперимент был засетаплен так:
- базы уже были наполнены
- прогнаны через mdb_copy -c
- `MDBX_ENABLE_MADVISE=0`
- `TxnDpInitial=4*1024, DpReverseLimit=4*1024, TxnDpLimit, TxnDpLimit=128 * 1024, geometry.GrowthSetp=5Gb`
- Транзакции довольно большие - точно больше гигабайта страниц.
- Потом базы выполнили одинаковое количество работы (приблизительно час работы и 5 больших пишу

[2021-02-28 17:09] erthink commented on #164
Some analysis of the information received:
![image](https://user-images.githubusercontent.com/6241554/109426345-533b9580-79fe-11eb-8fc9-fd56f003a9fb.png)
- the `E/P` column = Entries Per Page;
- RED+STRIKEOUT = these values are obviously incorrect due to LMDB bugs;
- BLUE = LMDB is better (less slack space),
  but for tables with duplicates (`DUPSORT`) these values and conclusions may be incorrect

[2021-02-28 17:50] erthink commented on #164
**The intermediate conclusions:**
1. The LMDB and MDBX databases were different, including those with different histories and different numbers of tables.
Page filling (i.e. slackness) depends on all inserts/deletions in the history and does not change with `mdbx_copy`/`mdb_copy`.
Therefore, to get rid the consequences of history, you need `mdbx_dump` + `mdbx_load`, while thinking about whether yo

[2021-03-02 04:19] AskAlexSharov opened #166 "geometry: better assert about invalid value than silently adjust"
set_geometry has code:
[code]
It's very unexpected option configured by me was silently changed.
Also this code is buggy: bytes2pgno can't be used before set env.me_psize is set - but it's not set yet (I passed pagesize=64Kb to set_geometry, but bytes2pgno using 4K value here).

[2021-03-02 04:22] AskAlexSharov commented on #166
Also I think - better push people somehow to call set_geometry before calling other methods, because other methods like set_option can use pgno2bytes.

[2021-03-02 13:51] Thermi commented on #147
Alright, I got that problem fixed.
I decided on passing byte arrays to Python as early as possible by and using the native tuple class for where mdbx slices are used to return a pair of pointers with sizes.

[2021-03-02 22:26] erthink commented on #166
I will definitely fix it soon, but literally today/tomorrow I'm digging out another bug inherited from LMDB.

[2021-03-03 06:38] erthink commented on #164
Probably within 2-3 days I will provide a new/experimental branch with a fix of the observed flaws.

[2021-03-03 06:57] AskAlexSharov commented on #164
Thank you. MADV test not finished yet. Grafana results with long-running clean setups also not ready yet. Also probably will done in 2-3 days.

[2021-03-04 05:21] AskAlexSharov commented on #164
setting MDBX_ENABLE_MADVISE=0 - didn't change anything, I think because we using MDBX_NORDAHEAD (and it does disable all madvise-related functionality)

[2021-03-05 22:03] erthink commented on #164
@AskAlexSharov, thank you for the information.
It is a point in favor of the above hypothesis and that an improvements that I doing in will eliminate the degradation.

[2021-03-06 01:09] erthink commented on #164
Я почти закончил доработки, они сейчас тестируются. Уместно рассказать что сделано, какие были сложности, от чего я пока решил отказаться и почему. Поэтому «много букв»:
1. Добавлена возможность установки в runtime порога заполнения страниц для их слияния:
   - Диапазон крутилки от 12.5% (половина от текущего захардкоженного значения) до 50% (теоретический максимум и вдвое больше текущего захардко

[2021-03-06 04:47] AskAlexSharov commented on #164
Многабукав - это прекрасно. Скинул в личку доступ к Grafana борде где мы запустили наше приложение на lmdb и mdbx.

[2021-03-06 04:58] AskAlexSharov commented on #164
In lmdb this threshold it 50%?

[2021-03-06 11:47] erthink commented on #164
https://github.com/LMDB/lmdb/blob/mdb.master/libraries/liblmdb/mdb.c#L9276-L9282
https://github.com/LMDB/lmdb/blob/mdb.master/libraries/liblmdb/mdb.c#L1030

[2021-03-06 16:47] erthink opened #168 "regression: A subDB may not be deleted (may be still accessible) if there are no other update operations in a write transaction"
Thanks @vorot93 for reporting.

[2021-03-06 20:13] erthink commented on #168
Due to partially (i.e. incomplete) micro-optimization.

[2021-03-07 16:54] #168 closed

[2021-03-08 03:29] AskAlexSharov commented on #164
Only 1 thing doesn't really match in my head with changing this threshold:
`getrusage Inblock` of mdbx has trend to growth with time, while lmdb's doesn't have such trend
<img width="1323" alt="Screen Shot 2021-03-08 at 10 22 08" src="https://user-images.githubusercontent.com/46885206/110270479-7b2b8a00-7ff8-11eb-99dd-f3b6b78f8c77.png">

[2021-03-09 13:02] erthink commented on #164
Did you reload whole database content by `mdbx_dump`+`mdbx_load` before the test?

[2021-03-09 13:31] Thermi commented on #147
I made the design decision to provide a pythonized API in the main package and the underlying libmdbx API using pybind11 so internals are accessible to users wishing to use those instead. It also makes it much easier to implement the pythonized API because I can maintain large parts of the code in Python instead of in C++.

[2021-03-09 15:12] erthink commented on #164
Ok, thanks.
Could you show me `mdbx_stat -aef` and `mdb_stat -aef` again?

[2021-03-09 16:50] AskAlexSharov commented on #164
Here is same info as files:
[mdb_stat.txt](https://github.com/erthink/libmdbx/files/6110078/mdb_stat.txt)
[mdbx_stat.txt](https://github.com/erthink/libmdbx/files/6110082/mdbx_stat.txt)

[2021-03-10 01:21] erthink commented on #164
![image](https://user-images.githubusercontent.com/6241554/110560669-6d404b00-8157-11eb-82b5-3253bbfb5381.png)
Briefly, according to the statistics taken with the new version:
1. The number of large / overflow pages now is nearly equal to LMDB.
2. Page merge (especially branch pages) became quite bad, i.e. I broke something and/or the changes created a new effects.
I'll figure it out.

[2021-03-12 00:10] hiqsociety opened #169 "Can anyone rewrite erthink/libmdbx in rustlang?"
Can anyone rewrite erthink/libmdbx in rustlang?

[2021-03-12 11:37] erthink commented on #169
I am sure that this is unreasonable.
MDBX was inherited too many flaws from LMDB, so it is not worth the effort to repeat all of these flaws.
Only MithrilDB is likely to be cool enough to be rewritten in Rust.

[2021-03-12 18:26] hiqsociety commented on #169
if libmdbx rewritten in rustlang, this will be the best of the best kv store. i dont understand why that will have flaws since rustlang is more reliable and faster than c++.

hope to see that happen someday.
for mithrildb, rustlang or golang will suffice.

[2021-03-12 20:09] Thermi opened #170 "mdbx_env_set_geometry with defaults prevents env from being usable"
Code snippet:
[code]
Makes `env_open` throw MDBX_TOO_LARGE.

Same for C++ API, because those values from the snippet are the defaults for the geometry class.
What's your advice? The problem doesn't exist with the C API (because there the defaults are different).

[2021-03-12 20:12] Thermi opened #171 "crash in mdbx_env_info_ex if env wasn't used yet"
Reproduced in master and devel branches.

[code]

-> Debugging with gdb yields this information:

[code]

valgrind yields this:
[code]

Complete code from example (reproduced with modified example):
[code]

[2021-03-12 23:15] hiqsociety opened #172 "Is this production ready?"
Do you have a list of users using libmdbx?

[2021-03-13 00:19] hiqsociety opened #173 "Just to clarify, does this mean disk space can be reclaimed unlike lmdb / boltdb?"
Does it mean the size can be reclaimed?

**4. Automatic continuous zero-overhead database compactification.**
During each commit libmdbx merges suitable freeing pages into unallocated area at the end of file, and then truncates unused space when a lot enough of.

[2021-03-13 10:10] hiqsociety opened #174 "Is there a way to increment 1 to a value in db using txn or..."
Is there a way to increment 1 to a value in db using txn or do i have to get the value first, add it inside my golang function then only save it into db?

[2021-03-13 10:12] hiqsociety commented on #173
is the min compaction threshold value is the minimum libmdbx will compact?

[2021-03-13 11:06] erthink commented on #173
1. See [`mdbx_env_set_geometry()`](https://libmdbx.dqdkfa.ru/group__c__settings.html#ga79065e4f3c5fb2ad37a52b59224d583e), the `size_lower` parameter.
2. Internally, there is no such threshold, since automatic compactification is always useful.
I.e autocompaction is always performed (unless `MDBX_ENABLE_REFUND=0` is defined during build `libmdbx`), but the database file will not be truncated below

[2021-03-13 11:40] erthink commented on #174
1. In general, libmdbx uses opaque byte sequences to represent keys and/or values.
So historically no universal `increment` operation was provided.
2. See [`mdbx_dbi_sequence()`](https://erthink.github.io/libmdbx/group__c__crud.html#ga27bedd3c425e93440ad82290a5cf2f03).
3. On request, a similar API can be implemented for a value of 4 and 8 bytes in length.
There will be no functional differences fr

[2021-03-13 11:59] erthink commented on #172
1. Currently is no explicit list of users. On the other hand, libmdbx is used in [Positive Technologies](https://www.ptsecurity.com/) products (included in several Gartner quadrants) since 2017, and by [Erigon](https://erigon.tech) since 2021.
2. libmdbx is considered ready for production use and I pay a lot of attention to testing.
I believe that libmdbx is not only faster, but it definitely cont

[2021-03-13 15:23] erthink commented on #170
Related to https://github.com/erthink/libmdbx/issues/166.

[2021-03-13 19:42] hiqsociety commented on #174
can you implement one for 1, 4 and 8 bytes? basically 1 byte will do i guess since we can also use the 1byte to simulate 4 and 8...

when do u think this is possible? increment is a huge feature. the overhead will be so much lesser considering how often everyone needs to autoincrement values esp counters etc

[2021-03-14 08:31] #166 closed

[2021-03-14 08:31] #170 closed

[2021-03-14 08:39] #171 closed

[2021-03-14 19:30] hiqsociety commented on #174
increment not just 1 but any values e.g. +8 , +13 etc

thx

[2021-03-14 19:30] #174 closed

[2021-03-14 19:31] #172 closed

[2021-03-14 19:31] #173 closed

[2021-03-14 19:37] hiqsociety opened #175 "I've tried writing data larger than ram but experience high load."
I've tried writing data larger than ram but experience high load.

Question
1. can database be larger than ram size?
2. what does pagesize mean and how is it used in geometry?
3. seems if ram is limited, and it's a write intensive workload, WAL is "recommended" but how often should the txn be complete? what's a good measurement of how long a transaction should run?

because if it's write intensive

[2021-03-14 20:50] erthink commented on #175
1. Yes. But you should understanding how b+tree-based DB work and understand the consequences of DATA > RAM (i.e. https://en.wikipedia.org/wiki/Memory_paging).
2. The size of [B-tree](https://en.wikipedia.org/wiki/B-tree) page, exactly.
The page size (obviously) can't be changed after DB was created..
So, to use custom (i.e. non-default) page size you should call [`mdbx_env_set_geometry()`](https:

[2021-03-15 05:34] #175 closed

[2021-03-15 05:34] hiqsociety opened #176 "Possible to fork one version > 128TB?"
Seems like this libmdbx has a good use case for a lot of things.

[2021-03-15 08:59] erthink commented on #176
I didn't understand the question.

Nonetheless, **PLEASE** read documentation, at least the three chapters:
1. [Overall](https://erthink.github.io/libmdbx/index.html)
2. [Intoduction](https://erthink.github.io/libmdbx/intro.html)
3. [Getting started](https://erthink.github.io/libmdbx/usage.html#starting)

[2021-03-15 08:59] #176 closed

[2021-03-15 10:16] erthink opened #177 "The caveat for large write-transactions with huge number of retired pages should be documented."

[2021-03-17 01:07] AskAlexSharov commented on #164
Last fix - helped to avoid branches nodes boom(mdbx has 1% less branch and leaf nodes than lmdb).
Unfortunately trend for rusage.inblock degradation is still here (maybe it's branch/leaf nodes of DupSort DBI's - because DB size growing faster when app working with dupsort data).
<img width="1323" alt="Screen Shot 2021-03-17 at 08 02 36" src="https://user-images.githubusercontent.com/46885206/11139

[2021-03-19 12:37] AskAlexSharov commented on #164
Test results (Speed of work correlating with graphic of rusage.inblocks):
<img width="1327" alt="Screen Shot 2021-03-19 at 19 22 32" src="https://user-images.githubusercontent.com/46885206/111780426-f5f28000-88e9-11eb-892c-616e0de8e237.png">
<img width="1325" alt="Screen Shot 2021-03-19 at 19 33 07" src="https://user-images.githubusercontent.com/46885206/111780453-03a80580-88ea-11eb-985f-6e8bf6e32

[2021-03-19 15:01] erthink commented on #164
Ok, I will dig more.
However, you should not draw any conclusions based on IMDB statistics for `DUPSORT` items since this statistic is definetly wrong (LMDB does not take into account the pages of nested b-trees).

[2021-03-20 01:43] erichocean commented on #148
There is an existing node-lmdb binding that should be straightforward to port.

[2021-03-20 01:59] kriszyp commented on #148
Yes, I made a port of it (well, of lmdb-store that contains node-lmdb) to libmdbx here:
https://github.com/kriszyp/lmdbx-store
Certainly would need some more testing and attention. There a number of issues with the port, some which I mentioned here:
https://github.com/DoctorEvidence/lmdb-store/issues/24

[2021-03-21 03:42] AskAlexSharov commented on #164
rusage.inblocks trend is still here.
just sent in PM new `mdb_stat -aef` outputs.
- it looks for me that exists other detail - which increasing rusage.inblocks - and it degradating performance (and can't behind this degradation can't see impact of other settings change - dencity of pages, RpAugumentLimit, ...)
- Maybe exists some code which touching much pages after spill (for example MDBX_DISABLE

[2021-03-21 04:51] AskAlexSharov opened #179 "set_option: segfault when set MDBX_opt_txn_dp_limit (right after env_open)"
Happens on line: mdbx_dpl_clear(env->me_txn0->tw.dirtylist);
Branch: experimental4ledgerwatch